<h3 class="h5">Login</h3>
{{#if msg}}
    <div class="success-card mgT1">
        <h2 class="h4">{{msg}}</h2>
    </div>
{{/if}}
<form class="mgV4 auth-form"  method="post" action="/auth/login">
    <!--                <h6 class="h5">Get best rates out of this</h6>-->
    <p class="h6 mgT1">Fill the form to login</p>
    <div class="form-input-box">
        <input class="form-input" name="email" placeholder="Email"/>

    </div>
    <div class="form-input-box">
        <input class="form-input" name="password" placeholder="Password"/>

    </div>
    <p class="h6 mgV2 red">Forgot Password? <a class="link mgL2">Reset Password</a></p>
    <button class="mgT2 btn btn-purple ">Login</button>
    <p class="h6 mgV2">Don't  got an Account? <a href="/auth/signup" class="link">Register</a></p>
</form>