{{> navbar}}
<main class="auth">
    <header>
        <div class="auth__banner">
            <h2 class="auth__heading">Login</h2>
        </div>
    </header>
    {{#if success_message}}
    <div class="success-card mgT1">
        <h2 class="h5">{{success_message}}</h2>
    </div>
    {{/if}}
    <form class="auth__form" method="post" action="/auth/login">
        <div>
            <p class="h6 mgT1">Fill the form to login</p>
        </div>
        <div class="auth__inputBox">
            <input type="text" class="form-input" name="email" placeholder="Email" />

        </div>
        <div class="auth__inputBox">
            <input type="password" class="form-input" name="password" placeholder="Password" />
        </div>
        <div class="auth__forget">
            <p class="h6 red">Forgot Password?</p>
            <a href="">Reset Password</a>
        </div>
        <button class="btn btn-purple">Login</button>
        <div class="auth__account">
            <p>Don't got an Account?</p>
            <a href="/auth/signup">Register</a>
        </div>
    </form>
</main>