<h3 class="h5">Login</h3>

<form class="mgV4 auth-form"  method="post" action="/auth/login">
    <!--                <h6 class="h5">Get best rates out of this</h6>-->
    <p class="h6 mgT1">Fill the form to login</p>
    <div class="form-input-box">
        <input class="form-input" name="email" placeholder="Email"/>

    </div>
    <div class="form-input-box">
        <input class="form-input" name="password" placeholder="Password"/>

    </div>

    <a href="/admin" class="mgT2 btn btn-purple ">Login</a>
    <p class="h6 mgV2">Don't  got an Account? <a href="/auth/signup" class="link">Register</a></p>
</form>