{{> navbar}}


        <div class="auth__banner">

            <div class="auth__container">
                {{#if success_message}}
                    <div class="success-card mt-1">
                        <h2 class="h5">{{success_message}}</h2>
                    </div>
                {{/if}}
                {{#if failure_message}}
                    <div class="error-msg mgT2">
                        <h2 class="h6">{{failure_message}}</h2>
                    </div>
                {{/if}}
                <form class="auth__form" method="post" action="/auth/login">
                    <div>
                        <h1 class="h5">Account Login</h1>
                    </div>
                    <div class="auth__inputBox">
                        <input type="email" class="form-input" name="email" placeholder="Email" required />

                    </div>
                    <div class="auth__inputBox">
                        <input type="password" class="form-input" name="password" placeholder="Password" />
                    </div>

                        <p class="h6 ">Forgot Password?   <a href="" class="h6">Reset Password</a></p>
                    <button class="btn_reg-full mgT2" type="sumit">Login</button>
                    <div class="mgV2">
                        <p class="h6">Don't have an Account?  <a href="/auth/signup" class="h6">Register</a></p>

                    </div>
                </form>
            </div>
        </div>
</main>