<h3 class="h5">Register</h3>

<form class="mgV4 auth-form" method="post" action="/auth/register">
    <!--                <h6 class="h5">Get best rates out of this</h6>-->
    <p class="h6 mgT1">Fill the form to create an account</p>
    <div class="form-input-box">
        <input class="form-input" name="fullName" placeholder="Full Name"/>

    </div>
    <div class="form-input-box">
        <input class="form-input" type="email" name="email" placeholder="Email"/>

    </div>
    <div class="form-input-box">
        <input class="form-input" name="password" type="password" placeholder="Password"/>

    </div>

    <a href="/client" class="mgT2 btn btn-purple ">Register</>
    <p class="h6 mgV2">Already got an Account? <a href="/auth/login" class="link">Login</a></p>
</form>