<h6 class="h4">Account Confirmation</h6>

<form class=" auth-form" method="post" action="/auth/register/{{id}}"  encType="multipart/form-data">


    <div class="success-card">
        <h2 class="h5">Congratulations on opening a Sileno Finance Live Account.</h2>
    </div>
    <div class="info-card mgT2">
        <h4 class="mgT1 h5">Please scan and upload the document(s) requested below:</h4>
        <ul class="ordered-list">
            <li>Please ensure that the entire document uploaded is visible</li>
            <li>The accepted file formats are GIF, JPG, PNG, PDF</li>
            <li>The maximum upload file size is 2MB.</li>
        </ul>
    </div>


    <h5 class="h5 mgV4">Upload Documents</h5>
    <p class="mgT1 h5">Sileno Finance is legally required to hold on record (to file) the necessary documentation in support of your application. Trading access
        and/or withdrawals will not be permitted until your documents have been received and verified.</p>
    <h5 class="h4 mgT2">
        Step 1/2:
    </h5>
    <h5 class="h5 mgT1">PROOF OF IDENTITY:</h5>
    <p class="h6 mgT1">
        Note: Your are required to upload a full shot of yourself standing and holding your valid id card in your left or right hand.
    </p>

            <div class="form-input-box">
                <input class="form-input" type="file" name="proofID" />

            </div>

    <p class="h5 mgT1">A color copy of valid passport or other official state ID (e.g. driver's license, identity card, etc). The ID must be valid and contain the client's full name, an
        issue or expiry date, the client's place and date of birth OR tax identification number and the client's signature.</p>

    <h5 class="h4 mgT2">
        Step 2/2:
    </h5>
    {{#if id}}
        <p>id</p>
    {{/if}}
    <h5 class="h5 mgT1">PROOF OF RESIDENCY:</h5>
    <p class="h6 mgT1">
        A recent utility bill (e.g. electricity, gas, water, phone, oil, Internet and/or cable TV connections),
        or bank statement dated within the last 6 months confirming your registered address.
    </p>

    <div class="form-input-box">
        <input class="form-input" type="file" name="proofResidence" />

    </div>



<!--    <div class="mgT2">-->
<!--        <input type="checkbox" name="terms" id="terms">-->
<!--        <label class="h5 mgL2" for="terms">I agree to receive your newsletters, company news, and product updates.</label>-->
<!--    </div>-->
    <button  class="mgT2 btn btn-purple ">Upload Documents</button>

</form>