<div class="dash-nav">
    <h5 class="h6">John Doe</h5>
    <a > <i class="las la-cog"></i></a>
</div>
<div class="dash-body">

    <!--                   Users SECTION-->

    <h3 class="h4">Messages</h3>

    <div class="mgT2 chat_page-section">

        <div class="chat_page-section-list">
            <div class="pd2">
                <h4 class="h5 mgV2">All Messages</h4>
            </div>
            <ul class="chat_list">
                <li class="chat_list-item">
                    <img src="../../assets/bg1.jpg" class="chat_list-item-img">
                    <div class="chat_list-item-info">
                        <h4 class="h6 ">John Doe</h4>
                        <p class="h7 mgT1">12:05 am</p>

                    </div>
                </li>
                <li class="chat_list-item">
                    <img src="../../assets/bg2.jpg" class="chat_list-item-img">
                    <div class="chat_list-item-info">
                        <h4 class="h6 ">John Doe</h4>
                        <p class="h7 mgT1">12:05 am</p>

                    </div>
                </li>
                <li class="chat_list-item">
                    <img src="../../assets/pierre-borthiry-vBCVcWUyvyM-unsplash.jpg" class="chat_list-item-img">
                    <!--                                <div class="chat_list-item-img-icon"></div>-->
                    <div class="chat_list-item-info">
                        <h4 class="h6 ">Alice Doe</h4>
                        <p class="h7 mgT1">12:05 am</p>

                    </div>
                </li>
                <li class="chat_list-item">
                    <img src="../../assets/bg1.jpg" class="chat_list-item-img">
                    <div class="chat_list-item-info">
                        <h4 class="h6 ">Smith Doe</h4>
                        <p class="h7 mgT1">12:05 am</p>

                    </div>
                </li>

            </ul>
        </div>
        <div class="chat_page-section-chat-section">
            <div class="chat_page-section-chat-section-body">
                <div class="support-chat-head">
                    <h2 class="h6">John Doe </h2>
                </div>
                <div class="support-chat-body">

                    <div class="support-chat-body-client">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-support">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-support">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-client">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-support">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-support">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for you</p>
                    </div>
                    <div class="support-chat-body-client">
                        <div class="chat_msg-support_title ">
                            <h5 class="h6">Ehancetrade</h5>
                            <p class="h7">12:01pm</p>
                        </div>
                        <p> Hello, Michael What ma we do for  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque est expedita illum nostrum officiis reprehenderit similique voluptatum. Architecto
                            atque eveniet facere fugit, nostrum nulla odio odit reprehenderit, repudiandae sint voluptatum?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deserunt earum excepturi facilis harum itaque iusto maiores minima minus, molestiae, natus quaerat
                            quia sint soluta tempora tempore vel voluptas.
                        </p>
                    </div>
                </div>

            </div>
            <div class="support_area-msgBox">
                <form class="chat-form">
                    <input placeholder="Type here" />
                    <button class="btn btn-purple"><i class="la la-send"></i></button>
                </form>
            </div>
        </div>

    </div>

</div>