<div class="dash-nav">
    <a><i class="la la-bell"></i></a>
    <h5 class="h6">John Doe</h5>
    <a > <i class="las la-cog"></i></a>
</div>
<div class="dash-body">

    <!--                   Users SECTION-->

    <h3 class="h4">Create Plan</h3>
    <!--            <p class="h6 mgT1"></p>-->
    <div>
        <!--               <h2 class="h6 ">Deposit Form</h2>-->
        <form class="card_w"  method="post" action="/admin/createPlan">
            <div class="form-input-box">
                <input placeholder="Title" name="title" class="form-input"/>
            </div>

            <div class="form-input-box">
                <input placeholder="cost" name="cost" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="Duration" name="duration" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="profit" name="profit" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="Description" name="description" class="form-input"/>
            </div>
            <!--                   Toggle on request validity-->


            <button class="btn btn-purple">New Plan</button>
        </form>
    </div>


</div>