<div class="dash-nav">
    <a><i class="la la-bell"></i></a>
    <h5 class="h6">John Doe</h5>
    <a > <i class="las la-cog"></i></a>
</div>
<div class="dash-body">

    <!--                   Users SECTION-->

    <h3 class="h4">Edit Plan</h3>
    <!--            <p class="h6 mgT1"></p>-->
    <div>
        <!--               <h2 class="h6 ">Deposit Form</h2>-->
        <form class="card_w" >
            <div class="form-input-box">
                <input placeholder="Title" class="form-input"/>
            </div>

            <div class="form-input-box">
                <input placeholder="Amount in BTC" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="Description1" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="Description2" class="form-input"/>
            </div>
            <div class="form-input-box">
                <input placeholder="Description3" class="form-input"/>
            </div>
            <!--                   Toggle on request validity-->


            <button class="btn btn-purple">Edit Plan</button>
        </form>
    </div>


</div>