<div class="dash-nav">
    <a><i class="la la-bell"></i></a>
    <h5 class="h6">John Doe</h5>
    <a> <i class="las la-cog"></i></a>
</div>
<div class="dash-body">


    <h3 class="h4">Send Mail</h3>
    <!--            <p class="h6 mgT1"></p>-->
    <div>
        <!--               <h2 class="h6 ">Deposit Form</h2>-->
        <form class="card_w" method="post" action="/admin/createPlan">
            <div class="auth__inputBox">
                <input type="text" class="form-input" name="title" placeholder="Title" required />

            </div>
            <div class="auth__inputBox">
                <input type="email" class="form-input" name="email" placeholder="Email" required />

            </div>
            <div class="auth__inputBox">
                <textarea class="form-input" name="message" rows="20" cols="20" placeholder="Duration">
                    </textarea>

            </div>




            <button class="btn btn-primary">Send Mail</button>
        </form>
    </div>


</div>