<div class="dash-nav">
    <a><i class="la la-bell"></i></a>
    <h5 class="h6">John Doe</h5>
    <a > <i class="las la-cog"></i></a>
</div>
<div class="dash-body">

    <!--                   Users SECTION-->

    <h3 class="h3">Users</h3>
    <p class="h6">Below You will find a list of valid Users</p>
    <form class="mgV2">
        <div class="searchBox">
            <input placeholder="search" class="search_input" />
            <button class="search_input-icon"><i class="la la-search"></i></button>
        </div>
    </form>
    <div class="mgT4 transaction-table-cont">
        <table class="transaction-table">
            <thead>
            <tr>
                <th>#</th>
                <th>UserId</th>
                <th>User Name </th>
                <!--                          ADD IMAGE SPACE-->
                <th>Current Plan</th>
                <th>Current Profit</th>
                <th>Btc Balance</th>
                <th>Real Estate Balance</th>
                <th>Total Invested</th>
                <th></th>
                <th> </th>
            </tr>
            </thead>
            <tbody>



{{#each users}}
    <tr>
        <td>1</td>
        <td>{{_id}}</td>
        <td>{{fullName}}</td>

        <td>Premium Silver</td>
        <td>0.0056000</td>
        <td>1.0000003</td>
        <td>0.0067000</td>
        <td>1.0000000</td>
        <td>
            <a class="btn btn-success">Update</a>

        </td>
        <td><a class="btn btn-red">Delete</a></td>
    </tr>
{{/each}}
            </tbody>
        </table>
    </div>

</div>