<div class="center_img-box">
    <h1 class="mgT2">User is already Verified</h1>
    <img alt="" class="center_img" src="public/images/envelope.png"/>
    <div class="btn btn-primary mgT2">Email has been Verified</div>
    <p class="h6">
        <a href="/client">
            Dashboard
        </a>
    </p>
</div>