

<form class="card form width50" method="post" action="/client/editPassword/{{user._id}}">
    <h6 class="form-h">Change Password</h6>
            <div class="form-input-box">
                <input class="form-input"  name="newPassword" placeholder="Password"/>

            </div>


            <div class="form-input-box">
                <input class="form-input" placeholder="Re-type Password"/>

            </div>



    <button  class="mgT2 btn btn-green ">Save Changes</button>

</form>
