<h6 class="h4">Change Password</h6>

<form class=" auth-form" method="post" action="/client/profile/edit/{{user._id}}">





            <div class="form-input-box">
                <input class="form-input"  name="newPassword" placeholder="Password"/>

            </div>


            <div class="form-input-box">
                <input class="form-input"   placeholder="Re-type Password"/>

            </div>



    <button  class="mgT2 btn btn-green ">Save Changes</button>

</form>
