<!--                   Users SECTION-->

<h3 class="h4">Fund Wallet</h3>
<p class="h6 mgT1">Fund your wallet with a few clicks</p>
<div>
    <!--               <h2 class="h6 ">Deposit Form</h2>-->
    <form action="/p" method="post" class="card_w" >

        <div class="form-input-box">
            <select name="investmentType" class="form-input-select">
                <option>Real estate</option>
                <option>BTC Mining</option>
            </select>
        </div>
        <div class="form-input-box">
            <input name="amount" placeholder="Amount" class="form-input"/>
        </div>
        <!--                   Toggle on request validity-->
        <div class="form-btc_box">
            <i class="la la-qrcode iconBTC"></i>
        </div>
        <div class="form-input-box">
            <input name="btcAddress" value="dgmd ,mslmskdd,gdgdgds,mgdsgm,msmdmdmf" class="form-input h6">
        </div>
        <button class="btn btn-purple">Pay</button>
    </form>
</div>

