<div>
    <div class="tickets-section">
     <h2 class="h4">   <i class="las la-envelope icon24"></i> Messages</h2>


        <div class="tickets mgT2">
            <h5 class="h5">You have no tickets</h5>
<!--            <div class="ticket">-->
<!--                <p class="h5">Lukkke</p>-->
<!--                <h5 class="h5">Work issue</h5>-->
<!--                <p class="h6">1st May 2021</p>-->
<!--            </div>-->
<!--            <div class="ticket">-->
<!--                <p class="h5">Lukkke</p>-->
<!--                <h5 class="h5">Work issue</h5>-->
<!--                <p class="h6">1st May 2021</p>-->
<!--            </div>-->
<!--            <div class="ticket">-->
<!--                <p class="h5">Lukkke</p>-->
<!--                <h5 class="h5">Work issue</h5>-->
<!--                <p class="h6">1st May 2021</p>-->
<!--            </div>-->
        </div>
    </div>
    <h2 class="h4">Open a newTicket</h2>
    <form class=" card_w width50 mgT2">
        <div class="form-input-box">
            <input placeholder="Subject" class="form-input"/>
        </div>
        <div class="form-input-box">
            <textarea placeholder="Message" class="form-textarea"></textarea>
        </div>

        <button class="btn btn-purple">
            <i class="las la-check-circle">

            </i>
          <span class="mgL2">   SEND MESSAGE</span>
        </button>
    </form>
</div>