<h6 class="h4">Edit Account</h6>

<form class=" auth-form" method="post" action="/client/profile/edit/{{user._id}}">
    <label class="h5" for="plans">Select Plan</label>
            <div class="form-input-box">

                <select id="plans" name="code" class="form-input">
                    <option>Premium Silver</option>
                </select>

            </div>


    <button  class="mgT2 btn btn-green ">Save</button>

</form>