<h6 class="h4">Upgrade Plan</h6>

<form class="card auth-form" method="post" action="/client/profile/upgrade/{{user._id}}">
    <label class="h5" for="plans">Select Plan</label>
            <div class="form-input-box">

                <select id="plans" name="code" class="form-input">
                   {{#each plan}}
                       <option  value="{{title}}">{{title}}</option>
                   {{/each}}
                </select>

            </div>


    <button  class="mgT2 btn btn-green ">Save</button>

</form>