<h6 class="h4">Upgrade Plan</h6>

<form class="card auth-form" method="post" action="/client/upgrade/verify/{{userId}}">
    <label class="h5" for="plans">Select Plan</label>
            <div class="form-input-box">

                <select id="plans" name="plan" class="form-input">
                   {{#each plan}}
                       <option  value="{{_id}}">{{title}}</option>
                   {{/each}}
                </select>

            </div>



    <button  class="mgT2 btn btn-green "> Save Upgrade</button>

</form>