<div class="center_img-box">
    <h1 class="mgT2">Your Email has been verified</h1>
    <img alt="" class="center_img" src="public/images/envelope.png"/>
    <div class="btn btn-primary mgT2">Email Verified</div>
    <h4 class="h6 mgT2">Your Email has been verified <i class="la la-shield icon" ></i></h4>
    <p class="h6">
        <a href="/client">
            Dashboard
        </a>
    </p>
</div>