<div>

    <h2 class="h4 mgT4">Transactions</h2>
    <div class="grid mgV2">
        <div class="grid-item3_4 transaction-table-cont">
            <table class="transaction-table">
                <thead>
                <tr><th>Transaction Id</th> <th>BTC Address</th><th><i class="la la-btc"></i>BTC</th><th>status</th></tr>
                </thead>
                <tbody>
                <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
                <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
                <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td class="red">failure</td></tr>
                <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
                <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td class="pending">pending</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>