<!--                   STATS SECTION-->
<h1 class="h4">Wallet</h1>
<div class="grid wallet-just mgT2">
    <div class="grid-item1_3 card wallet-card">
        <div>
            <p class="h5">Current BTC Balance</p>
            <h2 class="h2 mgT2">2.00100</h2>
        </div>
        <i class="la la-chart-line"></i>
    </div>
    <div class="grid-item1_3 card wallet-card">
        <div>
            <p class="h5">Total Withdrawn</p>
            <h2 class="h2 mgT2">1.00100</h2>
        </div>
        <i class="la la-exchange-alt"></i>
    </div>
</div>

<div class="mgT3">
    <a class="btn btn-green">Withdraw <i class="la la-exchange-alt"></i></a>
    <a class="btn btn-primary mgL2">Upgrade Plan</a>
</div>

<div class="mgT4">
    <h1 class="h5">Transaction History</h1>
    <div class="transaction-table-cont">
        <table class="transaction-table mgT2">
            <thead>
            <tr><th>Transaction Id</th> <th>BTC Address</th><th><i class="la la-btc"></i>BTC</th><th>status</th></tr>
            </thead>
            <tbody>
            <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
            <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
            <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td class="red">failure</td></tr>
            <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td  class="success">success</td></tr>
            <tr><td>fd34282892</td><td>sfhffusauhheihwuuehuehueueueu</td><td>2.455555</td><td class="pending">pending</td></tr>
            </tbody>
        </table>
    </div>
</div>
