<div>

    <h2 class="h4">Withdraw Funds</h2>
    <form class=" card_w width50 mgT1" method="post" action="/client/withdraw">
        <div class="form-input-box">
            <input placeholder="Available Balance" disabled value="{{btcBalance}}" class="form-input" />
        </div>
        <div class="form-input-box">
            <input placeholder="Your BTC Wallet " name="clientAddress" class="form-input" />
        </div>
        <div class="form-input-box">
            <input placeholder="Amount " name="amount" class="form-input" />
        </div>
        <button class="btn btn-primary">Withdraw</button>
    </form>
</div>