<div>

    <h2 class="h4">Withdraw Funds</h2>
    <form class=" card_w width50 mgT1">
        <div class="form-input-box">
            <input placeholder="Available Balance" class="form-input"/>
        </div>
        <div class="form-input-box">
            <input placeholder="Your BTC Wallet " class="form-input"/>
        </div>
        <div class="form-input-box">
            <input placeholder="Amount " class="form-input"/>
        </div>
        <button class="btn btn-purple">Withdraw</button>
    </form>
</div>