
<header class="top-container">

    <nav class="home-nav" id="top_nav">
        <figure>
            <img class="logo" src="/images/logo.svg" alt="logo">
        </figure>
        <input checked type="checkbox" id="menu_home"/>
        <label for="menu_home" class="menu_home">
            <span class="menu_home-bar">&nbsp;</span>
        </label>
        <ul class="home-nav-list">
            <li class="home-nav-list-item">
                <a href="/" class="home-nav-list-item-link">Home</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/plans" class="home-nav-list-item-link">Plans</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/about" class="home-nav-list-item-link">About</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/faqs" class="home-nav-list-item-link">FAQs</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/terms" class="home-nav-list-item-link">Terms & Policy</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/signup" class="btn btn-purple">Sign up</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/login" class="btn btn-purple">login</a>
            </li>
        </ul>
    </nav>

</header>