
<header class="top-container">

    <nav class="home-nav" id="top_nav">
        <figure>
          <a href="/">  <img class="logo" src="/images/logo.svg" alt="logo"></a>
        </figure>
        <input checked type="checkbox" id="menu_home"/>
        <label for="menu_home" class="menu_home">
            <span class="menu_home-bar">&nbsp;</span>
        </label>
        <ul class="home-nav-list">

            <li class="home-nav-list-item">
                <a href="/plans" class="home-nav-list-item-link">Plans</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/about" class="home-nav-list-item-link">About</a>
            </li>

            <li class="home-nav-list-item">
                <a href="/blog" class="home-nav-list-item-link">Blog</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/testimonials" class="home-nav-list-item-link">Testimonial Videos</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/faqs" class="home-nav-list-item-link">FAQs</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/terms" class="home-nav-list-item-link">Terms & Policy</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/contact" class="home-nav-list-item-link">Contact Us</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/signup" class="btn btn-primary">Sign up</a>
            </li>

            <li class="home-nav-list-item">
                <a href="/auth/login" class="btn btn-primary">login</a>
            </li>
        </ul>
    </nav>

</header>