

<footer>

    <div class="mgT4 footer_cont">
        <h4 class="h3">Start Mining & Investing Now </h4>
        <p class="h4 mgT1">You'll pay $0 commissions on online US-listed stock, ETF, and options trades, plus 65&cent;  per options contract.
            Make 30+ trades per quarter and pay just 50&cent; per options contract.
        </p>
        <a href="/auth/signup" class="btn_reg mgT4">Open account</a>
        <div class="footer-links mgV4">
            <ul>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/plans">Pricing</a></li>
<!--                <li><a>Support</a></li>-->
                <li><a href="/security">Security</a></li>
                <li><a href="/about">About Us</a></li>
<!--                <li><a  >Privacy Policy</a></li>-->
            </ul>
        </div>
        <div>
            <ol>
                <li>
                    <h4 class="h4 greyText">For Brokerage Services:</h4>
                    <p class="h5 mgT1">Enkrypt Finance Securities will restore to your account cash and/or shares of securities
                        equal to the amount of cash and/or securities in your account at the time of any unauthorized activity.
                        "Loss" does not include any tax consequences. Any unauthorized trades will be reversed and positions will be reinstated.
                    </p>
                </li>
                <li>
                    <h4 class="h4 greyText">For Lending Services:</h4>
                    <p class="h5 mgT1">
                        "Loss" ids defined as an increase in the outstanding account balance at the time of unauthorized
                        account use and any additional interest accrued as a result.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</footer>
<!---->
<!---->
<!--        CHAT AREA TOGGLEABLE-->

<div class="chat_area" id="chat_area">
    <div class="chat_area-top">
        <div>
            <h2 class="h5">EhanceTrade Chat</h2>
            <p class="h7 mgT1">Send Us a message </p>
        </div>
        <i class="la la-minus-circle icon24" id="toggleChatBtn"></i>
    </div>
    <div class="chat_area-body" id="chat_area-body">




    </div>
    <div class="chart_area-msgBox">
        <form class="chat-form" id="chat_form">
            <input id="chat_input" placeholder="Type here" name="message" />
            <button  class="chat_btn"><i class="la la-send"></i></button>
        </form>
    </div>

</div>
<div class="msg_btn" id="msg_btn">
    <i class="la la-comment-dots"></i>
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="./js/navigation.js"></script>
<script src="./js/chat.js"></script>
