<footer>
    <div class="container">
        <div class="footer">
            <div class="grid">
                <div class="grid-item2_4">
                    <h4 class="h5">Start Mining & Investing Now </h4>
                    <p class="mgT1 h6">You'll pay $0 commissions on online US-listed stock, ETF, and options trades, plus
                        65&cent;
                        per options contract.
                        Make 30+ trades per quarter and pay just 50&cent; per options contract.
                    </p>
                    <a href="/auth/signup" class="btn_reg mgT4">Open account</a>
                </div>
                <div class="grid-item2_4">
                    <ul class="footer_list">
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/plans">Pricing</a></li>
                        <li><a href="/security">Security</a></li>
                        <li><a href="/about">About Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer__copy">

            <div class="footer__socialSection ">
                <a target="_blank" rel="noreferrer" href="https://instagram.com/enkryptfinance?utm_medium=copy_link" class="social_icon_link mr-2">
                    <i class="lab la-instagram social__icon"></i>
                </a>
                <a target="_blank" rel="noreferrer" href="https://www.facebook.com/Enkryptfinance/" class="social_icon_link mr-2">
                    <i class="lab la-facebook social__icon"></i>
                </a>
                <a href="" class="social_icon_link mr-2">
                    <i class="lab la-twitter social__icon"></i>
                </a>
                <a target="_blank" rel="noreferrer" href="https://t.me/enkryptfinance"  class="social_icon_link">
                    <i class="lab la-telegram social__icon"></i>

                </a>
            </div>
            <div class="company">

                &copy;copyright, All rights reserved.
            </div>
        </div>
    </div>

</footer>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/60dc096665b7290ac638a027/1f9do9f2p';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

<script src="/socket.io/socket.io.js"></script>
<script src="/js/navigation.js"></script>
<!--<script src="/js/chat.js"></script>-->
<script src="/js/counter.js"></script>
<script src="/js/liveCryptoTable.js"></script>
<script src="/js/testimonial.js"></script>
<script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget/dist/latest.min.js"></script>