


<footer class="footer">

    <div class="mgT4 home_layout">
        <h4 class="h3">Start Mining Now </h4>
        <a class="btn_reg mgT4">Sign up</a>
        <div class="footer-links mgV4">
            <ul>
                <li><a>FAQs</a></li>
                <li><a>Plans</a></li>
                <li><a>Support</a></li>
                <li><a>About Us</a></li>
                <li><a>Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
<!---->
<!---->
<!--        CHAT AREA TOGGLEABLE-->

<div class="chat_area" id="chat_area">
    <div class="chat_area-top">
        <div>
            <h2 class="h5">EhanceTrade Chat</h2>
            <p class="h7 mgT1">Send Us a message </p>
        </div>
        <i class="la la-minus-circle icon24" id="toggleChatBtn"></i>
    </div>
    <div class="chat_area-body" id="chat_area-body">




    </div>
    <div class="chart_area-msgBox">
        <form class="chat-form" id="chat_form">
            <input id="chat_input" placeholder="Type here" name="message" />
            <button  class="chat_btn"><i class="la la-send"></i></button>
        </form>
    </div>

</div>
<div class="msg_btn" id="msg_btn">
    <i class="la la-comment-dots"></i>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/navigation.js"></script>
<script src="./js/chat.js"></script>