<div class="centered-box ">
    <h5 class="h4">Related Articles</h5>
    <div class="card width50 mgT2">
        <div class="relatedPost">
            <h5 class="h5">Resource center</h5>
            <div class="mgT1">
                <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
                <span class="mgL2 h6">12 May 2022</span>
            </div>
        </div>
        <div class="relatedPost">
            <h5 class="h5">Resource center</h5>
            <div class="mgT1">
                <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
                <span class="mgL2 h6">12 May 2022</span>
            </div>
        </div>
        <div class="relatedPost">
            <h5 class="h5">Resource center</h5>
            <div class="mgT1">
                <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
                <span class="mgL2 h6">12 May 2022</span>
            </div>
        </div>
    </div>
</div>