<div class="slider">

    <div class="buttons">
        <div class="previous"></div>
        <div class="next"></div>
    </div>

    <div class="slide">
        <div class="testimonial">
            <blockquote> I really appreciate what Enkrypt has done for me. I was skeptical at first but the results were
                amazing. Thanks so much . </blockquote>
            <p class="author">Tanya Sinclair
                <span>USA</span>
            </p>
        </div>

        <div class="slider-img">
            <img src="/images/testimonial/test1.jpg" alt="Author Image">
        </div>

    </div>

    <div class="slide">
        <div class="testimonial">
            <blockquote>
                Enkrypt Finance is one of the Leading Companies and a Trustworthy Partner of ours. It is good to see
                that
                they are honest with their service and are also transparent with all transactions </blockquote>
            <p class="author">Aali Abdallah
                <span>Arab Emirates</span>
            </p>
        </div>

        <div class="slider-img">
            <img src="/images/testimonial/arab.jpg" alt="Aali Abdallah">
        </div>

    </div>

</div>