<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Required Core Stylesheet -->
    <link rel="stylesheet" href="/css/sass/krypto.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body class="dark-bg">

        {{>extheader}}

        {{{body}}}

<script src="/js/getPost.js"></script>
</body>


</html>