<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/krypto.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
</head>
<body>
<div class="Auth-box">
    <aside class="Auth-box-side">
        <figure>
            <a href="/">   <img src="/images/logo.svg" class="logo"/></a>
        </figure>

        <div>

            <p class="Auth-box-side-link">
                Photo by <a href="https://unsplash.com/@thoughtcatalog?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thought Catalog</a> on <a href="https://unsplash.com/s/photos/bitcoin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

            </p>
            <!--              <p>Photo by <a href="https://unsplash.com/@peiobty?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pierre Borthiry</a> on <a href="https://unsplash.com/s/photos/bitcoin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
            <!--              </p>-->
        </div>

    </aside>
    <main class="Auth-box-main">
       {{{body}}}
    </main>

</div>

</body>
</html>