<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>{{title }}</title>
    <link rel="stylesheet" href="/css/sass/krypto.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

</head>

<body>
    <section class="dashboard">
        <aside class="sideBar">
            <div class="sideBar-Top">
                <figure>
                    <a href="/" class="link"> <img src="/images/logo.svg" class="logo" /></a>
                </figure>
                <input type="checkbox" checked id="menu" />
                <label for="menu" class="menu">
                    <span class="menu-bar">&nbsp;</span>
                </label>
                <ul class="sideBar-list mgV4">

                    <li class="sideBar-item"><a href="/client" class="sideBar-item-link">
                        <span class="sideBar-item-link-overlay">Dashboard</span>
                        <i class="la la-dashboard"></i>

                        </a></li>
                    <li class="sideBar-item">

                        <a href="/client/profile" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Account Info</span>
                            <i class="las la-user"></i></a>
                    </li>
                    <li class="sideBar-item">

                        <a href="/client/invest" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Invest</span>
                            <i class="las la-hand-holding-usd"></i>
                        </a>
                    </li>
                    <li class="sideBar-item">
                        <a href="/client/ticket" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Ticket</span>
                            <i class="la la-ticket"></i></a>
                    </li>
                    <li class="sideBar-item">

                        <a href="/client/referral" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Referral</span>
                            <i class="la la-share"></i></a>
                    </li>
                    <li class="sideBar-item">

                        <a href="/client/wallet" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Wallet</span>
                            <i class="las la-wallet"></i></a>
                    </li>
                    <li class="sideBar-item">

                        <a href="/client/withdraw" class="sideBar-item-link">
                            <span class="sideBar-item-link-overlay">Withdraw</span>
                            <i class="las la-credit-card"></i></a>
                    </li>



                </ul>

            </div>

            <a href="/client/logout" class="logoout-link"><i class="la la-sign-out"></i></a>

        </aside>
        <main class="main-section">
            <div class="dash-nav">
                <h5 class="h6">{{fullName}}</h5>
                <a><i class="la la-bell"></i></a>
            </div>
            <div class="dash-body">
                {{{body}}}
            </div>

        </main>
    </section>




    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60dc096665b7290ac638a027/1f9do9f2p';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
<script>
    var copyBtn = document.getElementById("copyBtn");
    function copySelected(e) {
        e.preventDefault();
        var copyText = document.getElementById("copy");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }

    copyBtn.addEventListener('click',(e)=>copySelected(e))
</script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <script src="./js/ref.js"></script>
    <script src="./js/navigation.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/liveCryptoTable.js"></script>



</body>

</html>