* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif, cursive;
}

option {
  background-color: #f7f7f7;
  border: none;
}
select {
  border: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 100%;
}

@include media-query($medium-up) {
  .container {
    width: 750px;
  }
}

@include media-query($large) {
  .container {
    width: 970px;
  }
}
@include media-query($large-up) {
  .container {
    width: 1050px;
  }
}

.text-center {
  text-align: center;
}

.text {
  color: $text-color-shade;
}
.icon48 {
  font-size: 2em;
}

.text-primary {
  color: $primary;
}

.red {
  color: #ef3945 !important;
}
.yellow {
  color: #ecc353 !important;
}
.success {
  color: mediumseagreen !important;
}
.blue {
  color: deepskyblue !important;
}
.pending {
  color: coral !important;
}
.dark {
  color: $text-color !important;
}
.bg-success {
  background-color: #d5ffe8 !important;
}
.bg-yell {
  background-color: #fffbce !important;
}
.h1 {
  font-size: 1.5em;
}
