
    <div class="error-page">
            <div class="error-page-center">
                <div class="width50">
                    <img src="/images/404.svg" class="flowImg" alt="404 error"/>
                </div>
                <h5 class="h1">Page Not Found <i class="las la-exclamation-triangle"></i></h5>
               <a href="/" class="btn btn-purple mgT4">Go Back to Home</a>
            </div>


    </div>




