
<main class="about">
    <header>
        <div class="about__banner centerText">
            <h2 class="h4">About Us</h2>
        </div>
    </header>
    <section class=" about-page">
        <div class="width50 home_layout card-content">
           <div class="grid">
               <div class="grid-item2_4">
                   <h2 class="h3">About US</h2>
                   <img class="flowImg mgV2" alt="images" src="/images/img1.jpg">
                   <p class="mgT2 h6">Enkryptfinance is an independent cloud mining service company established in the United
                       States of America in 2012.
                       Overtime Enkrptfinance has risen in customer base and growth, providing large volume of computational
                       power
                       for mining bitcoin, ethereum, litecoin and many other cryptocurrencies.
                   </p>
                   <p class="mgT2 h6">Enkryptfinance major aim is to make mining accessible to all not only crypto-enthusiasts,
                       but
                       also regular citizens carrying on their regular day jobs. The entire team at Enkryptfinance including
                       developers, engineers, marketers etc as well as partnered companies, has put in diligent work in this
                       aim
                       and successfully provided the service to over 250,000 satisfied users and counting.
                       If you have any questions regarding the services of Enkryptfinance or mining in general, our team will
                       be
                       happy to answer all your questions.
                   </p>

                   <!--             <div class="grid mgT2">-->
                   <!--                <iframe width="100%" height="480" src="https://www.youtube.com/embed/1_gAQ_10sKA"-->
                   <!--                    title="YouTube video player" frameborder="0"-->
                   <!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
                   <!--                    allowfullscreen></iframe>-->

                   <!--            </div> -->


               </div>
               <div class="grid-item2_4">
                   <h2 class="h3 ">Who We Are</h2>
                   <p class="mgT2 h6">Our primary focus is to offer cost effective solutions to Cryptocurrency Hobbyists and
                       Professionals. We have the conviction our enterprise can follow you in the adventure or cryptocurrency.
                       Always listening to our clients of our community. We studied cryptocurrencies and we formed a team of
                       experts to lead this project with success. Enkrypt philosophy is to enroll the best leaders in the
                       cryptocurrency industry and to have them available to the community. </p>
                   <p class="mgT2 h6">Enkrypt offers you a smart and easy way to take your first step into the Crypto
                       world.
                       The Bitcoin mining system is ideal for beginners. Our system also offers solutions for experts and
                       large-scale entrepreneurs from one unit farm to multiple tier-1 home dedicated mining farm. </p>

                   <img class="flowImg mgV2" alt="images" src="/images/we-are.jpg">
               </div>
           </div>
        </div>
        <div class="width50 home_layout card-content">
            <p class="h5">PROFESSIONAL TEAM</p>
            <h4 class="h4 mgT1">Meet Our Professional Team</h4>
            <p class="h6">If we had a ‘secret sauce’ it would be our awesome people.
                We have only professional team!</p>
        <div class="teamArea">
             <div class="glide">
                 <div class="glide__track">
                     <ul class="glide__slides display_flex list-style-none overflow-hidden">
                         <li class="glide__slide">
                             <div class="teamCard grid-item1_3">

                                 <img class="flowImg mgV2" alt="images" src="/images/testimonial/a.jpg">
                                 <div class="teamCardBottom">
                                     <h5 class="h5">Nicholas Carry</h5>
                                     <p class="mgT1 h6">Consultant</p>
                                 </div>
                             </div>
                         </li>
                         <li class="glide__slide"> <div class="teamCard grid-item1_3">

                             <img class="flowImg mgV2" alt="images" src="/images/testimonial/c.jpg">
                             <div class="teamCardBottom">
                                 <h5 class="h5">Gary B. Bryant</h5>
                                 <p class="mgT1 h6">IT Specialist</p>
                             </div>
                         </div></li>
                         <li class="glide__slide">
                             <div class="teamCard grid-item1_3">

                                 <img class="flowImg mgV2" alt="images" src="/images/testimonial/b.jpg">
                                 <div class="teamCardBottom">
                                     <h5 class="h5">Jane K Hassan</h5>
                                     <p class="mgT1 h6">Consultant</p>
                                 </div>
                             </div></li>
                         <li class="glide__slide" >
                             <div class="teamCard grid-item1_3">

                                 <img class="flowImg mgV2" alt="images" src="/images/testimonial/d.jpg">
                                 <div class="teamCardBottom">
                                     <h5 class="h5">Richard E Smith</h5>
                                     <p class="mgT1 h6">Consultant</p>
                                 </div>
                             </div>
                         </li>
                     </ul>
                 </div>
                 <div class="teamAreaBottom" data-glide-el="controls[nav]">
                <button  class="teamAreaBottom-item" data-glide-dir="=0">
                    &nbsp;
                </button>

                     <button class="teamAreaBottom-item" data-glide-dir="=1">
                    &nbsp;
                </button>

                     <button class="teamAreaBottom-item" data-glide-dir="=2">
                    &nbsp;
                </button>

                     <button class="teamAreaBottom-item" data-glide-dir="=3">
                    &nbsp;
                </button>
                 </div>
             </div>
           </div>

        </div>
    </section>
</main>
{{>glide_script}}

