
<header>
    <div class="faqs__banner">
        <h2 class="h3">Contact Us</h2>
    </div>
</header>
<div class="home_layout pd4">
  <div class="grid">
      <div class="grid-item2_4 contact-card">
          <p class="h5 ">Contact Details</p>
          <h2 class="h3 ">Our Contacts</h2>
          <p class="mgT1 h6">
              Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be happy to answer your questions.
          </p>

          <div class="display_flex mgT4">
              <span><i class="las la-globe icon48 white"></i></span>
              <div>
                  <p class="h6">OUR ADDRESS:</p>
                  <h4 class="h5">Summit St, Columbus Ohio</h4>
              </div>
          </div>
          <div class="display_flex mgT4 jus-end">
              <span><i class="las la-envelope-open-text icon48 white"></i></span>
              <div>
                  <p class="h6">OUR EMAIL:</p>
                  <h4 class="h5">Support@enkryptfinance.com</h4>
              </div>
          </div>
          <div class="display_flex mgT4">
              <span><i class="las la-phone-volume icon48 white"></i></span>
              <div>
                  <p class="h6">OUR PHONE:</p>
                  <h4 class="h5">+1 860 337 3546</h4>
              </div>
          </div>
      </div>
      <div class="grid-item2_4">

          <p class="h5 ">Get in Touch</p>
          <h2 class="h3 ">Ready to Get Started?</h2>
          <form >
              <div class="form-input-box">
                  <input title="subject" name="subject" class="form-input" placeholder="Subject">
              </div>
              <div class="form-input-box">
                  <input type="email" title="email" name="email" class="form-input" placeholder="Email">
              </div>
              <div class="form-input-box">
                  <input title="Name" name="Name" class="form-input" placeholder="Name">
              </div>
              <div class="form-input-box">
                  <textarea title="message" name="message" class="form-textarea" placeholder="message"></textarea>
              </div>
              <button class="btn btn-primary">Submit</button>
          </form>

      </div>
  </div>
</div>