
<section class=" about-page">

    <div class="width50 home_layout">
        <h2 class="h3">FAQs</h2>
        <h3 class="h5 mgT2">What is Enkryptfinance?</h3>
        <p class="mgT2 h6">In summary, EnkryptFinance is a Cloud Mining Company created by the Cryptocurrency Mining Specialists from United State of America in 2012. In a short time, EnkryptFinance became one of the fastest growing providers of computational power for mining bitcoin, litecoin, ethereum and other cryptocurrencies. Visit our "About Us" Page to learn more about us </p>
        <h3 class="h5 mgT2">How do I Start?</h3>
        <p class="h6 mgT2">You can quickly start by registering/selecting any of our Investment Packages as seen on our website's homepage. Just click the "Sign Up" button</p>
        <h3 class="h5 mgT2">What Payment Methods do you accept ?</h3>
        <p class="mgT2 h6">Bitcoin</p>
        <h3 class="h5 mgT2">I don't have a Bitcoin Wallet. How can I create one ?</h3>
        <p class="mgT2 h6">We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers</p>
        <h3 class="h5 mgT2">Can I have Multiple EnkryptFinance Accounts ?</h3>
        <p class="mgT2 h6">Yes, you can</p>
        <h3 class="h5 mgT2">How long does it take to withdraw my earned money ?</h3>
        <p class="mgT2 h6">28th of every month. Once you click on the withdrawal button on your dashboard, money will be sent to your Wallet or your
            provided means of accepting payment within an approximate of 1-2 hours</p>
        <h3 class="h5 mgT2">If I pay for an Upgrade, for how long will it be active ?</h3>
        <p class="mgT2 h6">An Upgrade is made to be Active after a maximum of 12 hours of payment.</p>
        <h3 class="h5 mgT2">Can I upgrade my EnkryptFinance Account with money in my balance ?</h3>
        <p class="mgT2 h6">Yes you can</p>
<!--        <div class="grey-box mgT2">-->
<!--            <ul class="ordered-list">-->
<!--                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque exercitationem iusto natus officiis quo quod sit, </li>-->
<!--                <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>-->
<!--                <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>-->
<!--                &lt;!&ndash;              <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>&ndash;&gt;-->
<!--                &lt;!&ndash;              <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
<!--        <h3 class="h5 mgT2">How to Mine BTC</h3>-->
<!--        <p class="mgT2 h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos excepturi facilis fugit id illo illum ipsa ipsam itaque magnam magni quasi quod sequi, sit suscipit tempore tenetur ut. Aliquam, deleniti!-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.-->
<!--        </p>-->
<!--        <div class="grey-box mgT2">-->
<!--            <ul class="ordered-list">-->
<!--                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque exercitationem iusto natus officiis quo quod sit, </li>-->
<!--                <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>-->
<!--                <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>-->
<!--                <li>velit. Accusantium culpa dicta distinctio, in magnam obcaecati odit repudiandae ut. Voluptatem, voluptatibus.</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <h3 class="h5 mgT2">When & How to Withdraw Profits</h3>-->
<!--        <p class="mgT2 h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos excepturi facilis fugit id illo illum ipsa ipsam itaque magnam magni quasi quod sequi, sit suscipit tempore tenetur ut. Aliquam, deleniti!-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deleniti quas. Adipisci alias atque aut, commodi delectus ducimus eos excepturi facere iste libero magni maxime nulla perferendis, quasi, sapiente sequi.-->
<!--        </p>-->
    </div>
</section>





