{{> navbar}}
<main class="faqs">
  <header>
    <div class="faqs__banner">
      <h2 class="faqs__heading">Faqs</h2>
    </div>
  </header>
  <section class=" about-page">

    <div class="width50 home_layout">
      {{!-- --}}
      <div class="col">
        <h1 class="faqs__subheading">Frequently Asked Questions</h1>
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab1">
            <label class="tab-label" for="tab1">What is Enkryptfinance?</label>
            <div class="tab-content">
              In summary, EnkryptFinance is a Cloud Mining Company created by the Cryptocurrency Mining Specialists from
              United State of America in 2012. In a short time, EnkryptFinance became one of the fastest growing
              providers of computational power for mining bitcoin, litecoin, ethereum and other cryptocurrencies. Visit
              our <a href="/about"> "About Us"</a> Page to learn more about us
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab2">
            <label class="tab-label" for="tab2">How do I Start?</label>
            <div class="tab-content">
              You can quickly start by registering/selecting any of our Investment Packages as seen on our website's
              homepage. Just click the "Sign Up" button
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab3">
            <label class="tab-label" for="tab3">What Payment Methods do you accept ?</label>
            <div class="tab-content">
              Bitcoin
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab4">
            <label class="tab-label" for="tab4">I don't have a Bitcoin Wallet. How can I create one ?</label>
            <div class="tab-content">
              We help ambitious businesses like yours generate more profits by building awareness, driving web traffic,
              connecting with customers
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab5">
            <label class="tab-label" for="tab5">Can I have Multiple EnkryptFinance Accounts ?</label>
            <div class="tab-content">
              Yes, you can
            </div>
          </div>

          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab6">
            <label class="tab-label" for="tab6">How long does it take to withdraw my earned money ?</label>
            <div class="tab-content">
              On the <em> 28th of every month</em>. Once you click on the withdrawal button on your dashboard, money
              will be sent to your Wallet or your provided means of accepting payment within an approximate of 1-2
              hours.
            </div>
          </div>

          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab7">
            <label class="tab-label" for="tab7">If I pay for an Upgrade, for how long will it be active ?</label>
            <div class="tab-content">
              An Upgrade is made to be Active after a maximum of 12 hours of payment.
            </div>
          </div>

          <div class="tab">
            <input type="checkbox" class="checkbox" id="tab8">
            <label class="tab-label" for="tab8">Can I upgrade my EnkryptFinance Account with money in my balance
              ?</label>
            <div class="tab-content">
              Yes you can
            </div>
          </div>

        </div>
      </div>
      {{!-- --}}
    </div>
  </section>
</main>

{{> footer_}}