<section class="mgT4">
    <div class="home_layout grid ">
        <div class="grid-item2_4">
            <h2 class="h3">Haven’t invested in crypto-currency mining before?  </h2>
            <p class="h5 mgT1">Not to worry, we have broken it down into four (4) easy steps for you to get started</p>
            <div class="btn btn-primary mgT2">Open account</div>
        </div>
        <div class="grid-item2_4">
            <img alt="image" class="flowImg" src="./images/gtstart.jpg"/>
        </div>
    </div>

</section>
<section class="getting-section mgT4">
    <div class="home_layout centerText">
        <h2 class="h3 centerText">Getting Started in Four easy Steps</h2>
        <div class="mgT4 grid">
            <div class="grid-item1_4 centerText">
                <h1 class="h1 greyText">1</h1>
                <h5 class="h6 mgT1">Set your goals</h5>
                <p class="mgT1 h6">Personally come up with an investment goal for yourself. How much you want to earn in a given amount of time as well as the amount to invest in.</p>

            </div>
            <div class="grid-item1_4 centerText">
                <h1 class="h1 greyText">2</h1>
                <h5 class="h6 mgT1">Open an account</h5>
                <p class="mgT1 h6"> Sign up / Login an account with us here to access all of our features.</p>

            </div>
            <div class="grid-item1_4 centerText">
                <h1 class="h1 greyText">3</h1>
                <h5 class="h6 mgT1">Choose your investments</h5>
                <p class="mgT1 h6">Select one of our investment plans. You can start with the lowest or perhaps go bigger to earn more! It’s all up to you</p>

            </div>
            <div class="grid-item1_4 centerText">
                <h1 class="h1 greyText">4</h1>
                <h5 class="h6 mgT1">Stay on Track</h5>
                <p class="mgT1 h6">Monitor your investment. See how much you’re earning, how much more crypto-currencies you’re mining. .</p>

            </div>
        </div>
        <!--        <a class="btn-bordered btn-bordered-primary mgT2 ">Explore account</a>-->
    </div>
</section>
<section class="mgT4 why_enkrypt">
    <div class="home_layout">
        <div class="grid">
            <div class="grid-item2_4">
                <h3 class="h3">Why Choose Enkrypt Finance</h3>
                <p class="mgT1 h5">With unrivaled Service and a range of investment choices that earned us "2019's number
                    online broker".
                </p>

            </div>
        </div>
    </div>
</section>