
<header class="header">

    <nav class="home-nav" id="top_nav">
        <figure>
            <img class="logo" src="/images/logo.svg" alt="logo">
        </figure>
        <input checked type="checkbox" id="menu_home"/>
        <label for="menu_home" class="menu_home">
            <span class="menu_home-bar">&nbsp;</span>
        </label>
        <ul class="home-nav-list">
            <li class="home-nav-list-item">
                <a  href="/" class="home-nav-list-item-link">Home</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/plans" class="home-nav-list-item-link">Plans</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/about" class="home-nav-list-item-link">About</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/faqs" class="home-nav-list-item-link">FAQs</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/signup" class="btn btn-purple">Sign up</a>
            </li>
        </ul>
    </nav>
    <div class="header-box">
        <h1 class="h2">Mine Bitcoin & Buy Real Estate</h1>
        <p class="h5 mgT1">Do all these seamlessly in BTC</p>
        <a class="btn_reg mgT2">Sign up</a>
    </div>
    <p><a href='https://www.freepik.com/vectors/background'>Background vector created by starline - www.freepik.com</a></p>
</header>



<section class=" liveCrypto-section">
    <h3 class="h4 grey">Live Feed of Trades</h3>
    <div class="grid mgT2">
        <div class="grid-item1_4 crypto-card">
            <div class="crypto-card-icon-box">
                <div class="crypto-card-icon-box-icon">
                    <i class="la la-btc"></i>
                </div>

            </div>
            <div class="crypto-card-icon-text">
                <h5 class="h6 crytpo-currency">BTC</h5>
                <p class="h3 crypto-rate red">-2.68%</p>
            </div>


        </div>
        <div class="grid-item1_4 crypto-card">
            <div class="crypto-card-icon-box">
                <div class="crypto-card-icon-box-icon">
                    <i class="lab la-ethereum"></i>
                </div>

            </div>
            <div class="crypto-card-icon-text">
                <h5 class="h6 crytpo-currency">ETH</h5>
                <p class="h3 crypto-rate success">+2.46%</p>
            </div>


        </div>
        <div class="grid-item1_4 crypto-card">
            <div class="crypto-card-icon-box">
                <div class="crypto-card-icon-box-icon">
                    <i class="lab la-ethereum"></i>
                </div>

            </div>
            <div class="crypto-card-icon-text">
                <h5 class="h6 crytpo-currency">XRP</h5>
                <p class="h3 crypto-rate success">+45.6%</p>
            </div>

        </div>
    </div>
</section>
<!--END OF CRYPTO SECTION-->

<section class="mgV6 about">
    <div class="home_layout">
        <h4 class="h3">We Make Mining So Easy</h4>
        <p class="mgT1 h5">With our easy to use service</p>
        <div class="mgV4 grid">
            <div class="grid-item1_4 about-card">
                <i class="la la-running "></i>
                <h3 class="h5 mgT1">Fast Service</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-comment-dots "></i>
                <h3 class="h5 mgT1">Good Customer Support</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-money-bill-wave-alt"></i>
                <h3 class="h5 mgT1">Best Rates</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-lock "></i>
                <h3 class="h5 mgT1">Secure Transactions</h3>
            </div>
        </div>

    </div>
</section>

<section class="mgT4 plan-section">

    <div class="home_layout">
        <h4 class="h3">Investment & Mining Plans</h4>
        <div class="grid mgT4">
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Gold</h3>
                <h4 class="h2 mgV2">$10000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>25% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Silver</h3>
                <h4 class="h2 mgV2">$20000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>50% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Bronze</h3>
                <h4 class="h2 mgV2">$5000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>15% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>

        </div>
        <div class="mgT4">
            <a href="#" class="h5">View More <i class="la la-long-arrow-alt-right"></i></a>
        </div>
    </div>
</section>
{{>footer}}