<section class=" offer_header">
    <div class="home_layout centerText">
        <h2 class="h3">What Makes our Special offers unique</h2>
        <p class="mgT2 h4">Get $600 when you open and fund a new account with $250,000 or add even more for up to $2,500</p>
    </div>

</section>
<section class="mgT4">
    <div class="home_layout">
        <h3 class="h4">Offer Details</h3>
        <p class="mgT1 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam culpa delectus dolorum ea fuga hic illo laudantium nesciunt perspiciatis provident
            qui quibusdam reiciendis repudiandae rerum sunt suscipit voluptates voluptatibus!</p>
        <div class="grid mgT2">
            <div class="grid-item2_4 transaction-table-cont">
                <table class="transaction-table">
                    <thead>
                    <tr>
                        <th>Receive</th>
                        <th>Deposit or Transfer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>$25</td>
                        <td>$5,000 - $9,999</td>
                    </tr>
                    <tr>
                        <td>$25</td>
                        <td>$5,000 - $9,999</td>
                    </tr>
                    <tr>
                        <td>$25</td>
                        <td>$5,000 - $9,999</td>
                    </tr>
                    <tr>
                        <td>$25</td>
                        <td>$5,000 - $9,999</td>
                    </tr>
                    <tr>
                        <td>$25</td>
                        <td>$5,000 - $9,999</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-item2_4 ">
                <div class="mgL2">
                    <h4 class="h5">How it Works</h4>
                    <ol>
                        <li>Open a new account Finance Brokerage or retirement account</li>
                        <li>Enter promo code <em>BONUS232</em> When Creating the Account</li>
                        <li>Fund You Account within 30 - 60 days. Cash credits will be granted when funds have been transferred in. </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mgT4">
    <div class="home_layout">
        <h3 class="h4">Offer Limitations</h3>
        <p class="mgT1 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda et molestiae neque perspiciatis provident recusandae rem, saepe ullam.
            Ab dignissimos dolorum est in necessitatibus perfssimos dolorum est in necessitatibus perferendis praesentium quas, rerum totam veritatis.</p>
        <h3 class="h4 mgT2">Cash Bonus</h3>
        <p class="mgT1 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda et molestiae neque perspiciatis provident recusandae rem, saepe ullam.
            Ab dignissimos dolorum est in necessitatibus perfssimos dolorum est in necessitatibus perferendis praesentium quas, rerum totam veritatis.</p>
        <h3 class="h4 mgT2">Other Rules</h3>
        <p class="mgT1 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda et molestiae neque perspiciatis provident recusandae rem, saepe ullam.
            Ab dignissimos dolorum est in necessitatibus perfssimos dolorum est in necessitatibus perferendis praesentium quas, rerum totam veritatis.</p>

    </div>
</section>