
<section class="plan-section">

    <div class="home_layout">
        <h4 class="h3">Investment plans</h4>
        <h4 class="h4 mgT2 light">BTC Mining</h4>
        <div class="grid mgT4">
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Gold</h3>
                <h4 class="h2 mgV2">$10000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>25% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Silver</h3>
                <h4 class="h2 mgV2">$20000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>50% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Bronze</h3>
                <h4 class="h2 mgV2">$5000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>15% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>

        </div>

        <h4 class="h4 mgT4 light">Real Estate Investment</h4>
        <div class="grid mgT4">
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Gold</h3>
                <h4 class="h2 mgV2">$10000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>25% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Silver</h3>
                <h4 class="h2 mgV2">$20000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>50% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>
            <div class="grid-item1_3 plan-card">
                <h3 class="h4 mgV2">Premium Bronze</h3>
                <h4 class="h2 mgV2">$5000</h4>
                <div class="mgV2 plan-details">
                    <ul>
                        <li>15% Roi</li>
                        <li>Ability to fly</li>
                        <li>Running on Water</li>
                        <li> Cooking Fire</li>
                    </ul>
                </div>
                <a class="btn btn-purple">
                    Pay
                </a>
            </div>

        </div>
    </div>
</section>
<!--END OF PLANS SECTION-->