
<div class="black-box">
    <div class="home_layout">
        <i class="la la-user-lock icon64"></i>
        <h2 class="h2 mgT2">Security Center</h2>
        <p class="mgT1 h5">Your account security is important to us. In addition to the ways your assets are protected, the Enkrypt Finance Complete Protection
            Guarantee  means your not liable to unauthorized use of account, and we'll never sell your personal information. Period
        </p>
    </div>
</div>
<section class="mgT4">
    <div class="home_layout centerText">
        <h3 class="h3">How We Work To Help Secure Your Account</h3>
        <p class="mgT1 h5">We use security measures such as encryption, firewalls, and dedicated
            fraud protection teams, and we offer multi-factor authentication to help secure accounts</p>
        <div class="mgT2 grid">
            <div class="grid-item1_4">
                <i class="la la-bank icon48 greyText"></i>
                <h3 class="h4 mgT1">Fraud Protection</h3>
                <p class="mgT1 h5">Lorem ipsum dolor sit amet,ta laudantium molestias qtecto consectetur consequatur esse exercitationem
                    fugit ipsa iure mollitia nobis, numquam unde!</p>
            </div>

            <div class="grid-item1_4">
                <i class="la la-lock icon48 greyText"></i>
                <h3 class="h4 mgT1">Privacy Protection</h3>
                <p class="mgT1 h5">Lorem ipsum dolor sit amet,a laudanti consectetur consequatur esse exercitationem
                    fugit ipsa iure mollitia nobis, numquam unde!</p>
            </div>

            <div class="grid-item1_4">
                <i class="la la-eye icon48 greyText"></i>
                <h3 class="h4 mgT1">Encryption and network defenses</h3>
                <p class="mgT1 h5">Loribus earum eum expedita laudantium molestias quisqonsequatur esse exercitationem
                    fugit ipsa iure mollitia nobis, numquam unde!</p>
            </div>

            <div class="grid-item1_4">
                <i class="la la-user-circle icon48 greyText"></i>
                <h3 class="h4 mgT1">Secure ID</h3>
                <p class="mgT1 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloribus earum eum expedita laudantium monsectetur consequatur esse exercitationem
                    !</p>
            </div>
        </div>
    </div>
</section>




<section class="mgT4">
    <div class="home_layout ">
        <h3 class="h3 centerText">Take These additional Steps to Protect Yourself</h3>
        <div class="grid mgT4">
            <div class="grid-item2_4 ">
                <img class="flowImg" src="./images/bg2.jpg" alt="image2">
            </div>
            <div class="grid-item2_4">
                <ol class="mgT2 mgL2">
                    <li>Enable 2 step Authentication for your account</li>
                    <li>Use an anti-virus to protect yourself from malicious software on the web </li>
                    <li>Your Enkrypt Finance account password must contain letters, numbers and special characters</li>
                    <li>Regularly review your account statements to be sure of your activities</li>

                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mgT4">
    <div class="home_layout ">
        <div class="grid">
            <div class="grid-item1_3 card_w">
                <h3 class="h5">Report a security concern</h3>
                <p class="mgT1 h6">Contact Us immediately if:</p>
                <ul class="ordered-list">
                    <li>You suspect that you are a victim of identity theft or fruad</li>
                    <li>You receive a fraudulent email that looks like it is from Enkrypt Finance financial or one of our  affiliated companies</li>
                </ul>
                <p class="h5 mgT1">Email us at onlinesecurity@enkryptfinance.com or call Customer Service at 900 345 6782</p>
            </div>
            <div class="grid-item1_3 card_w">
                <h3 class="h5">Contact us 24 hours a day</h3>
                <p class="mgT1 h6">Enkrypt Finance securities</p>
                <h5 class="mgT1 h5">900-TRADE-1(900 345 6782)</h5>
                <p class="mgT1 h6">From outside US +1476 386 2632</p>
                <ul class="ordered-list">
                    <li>Privacy Statement</li>
                    <li>Security Statement</li>
                    <li>Identity Verification Process</li>
                </ul>

            </div>
            <div class="grid-item1_3 card_w">
                <h3 class="h5">Additional Resouces</h3>

                <ul class="ordered-list">
                    <li>U.S. Department of Homeland Security. Tips for maintaining cyber security</li>
                    <li>Federal Trade Commission</li>
                    <li>U.S. Department of Homeland Security. Tips for maintaining cyber security</li>
                    <li>Federal Trade Commission</li>
                    <li>U.S. Department of Homeland Security. Tips for maintaining cyber security</li>
                    <li>Federal Trade Commission</li>

                </ul>

            </div>
        </div>
        <div class="mgT4 centerText">
            <h4 class="h4">Information about Tracking Technologies</h4>
            <p class="h5 mgT1">Learn how we use web technologies to deliver  more relevant ontent </p>
        </div>
    </div>
</section>
