<div class="width50 home_layout card-content">
<h2 class="h3 ">Testimonials</h2>
<p class=" h6">Get to know us a bit better  </p>
<div class="mgT4">
    <iframe width="688" height="387" src="https://www.youtube.com/embed/WRXKQg2pCVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <p class="h5 mgT2" >Check out our <a href="https://youtube.com/channel/UChL5XM2MbyCQtm2fIpZzVoA" rel="noreferrer" target="_blank" class="btn btn-primary">Youtube </a> channel to learn more</p>



</div>