.error-msg {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: #eabac5;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: all 0.35s;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $red;
  }
  z-index: 250;
}
.success-msg {
  padding: 1.5rem;
  // font-size: 1.2rem;
  background-color: #a9eacb;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: all 0.35s;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $green;
  }
  z-index: 250;
}
.info-msg {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: #b0efa0;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.35s;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: #336727;
  }
}
