.error-msg{
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #fff7fa;
  border-radius: 1rem;
  transition: all .35s;
  h1,h2,h3,h4,h5,h6,p,a{
    color: #fc4667!important;
  }
  z-index: 250;
}
.success-msg{
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #f1fff7;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem;
  transition: all .35s;
  h1,h2,h3,h4,h5,h6,p,a{
    color: $green;
  }
  z-index: 250;
}

.small_error{
  background-color: #ffedf3;
  color: var(--red);
  font-size: 1.65rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
}
.form-error{
  background-color: #ffedf3;
  color: var(--red);
  font-size: 1rem;
  padding: .2rem;
}
