.msg_btn{
  position: fixed;
  bottom: 5%;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 200rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  .la{
    color: #eeeeee;
    font-size: 3.2rem;
  }
}
.btn{
  &,&:link{
    text-decoration: none;
    padding: .8rem 1.4rem;
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
  }
  &-success{
    background-color: #232366;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color  .3s ease-in;
    color: white;
    .la{
      font-size: 2.4rem;
      margin-left: 1rem;
    }
    &:hover{
      background-color: #12125a;
    }
  }
  &-primary{
    background-image: repeating-conic-gradient($primary2, var(--deepblue));
    transition: background-color  .3s ease-in;
    color: #f7f7f7!important;
    .la{
      font-size: 2.4rem;
    }
    &:hover{
      background-image: repeating-conic-gradient(var(--deepblue),$primary2);
    }
  }
  &-purple{
    background-color: #bc9117;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color  .3s ease-in;
    color: $accent;
    .la{
      font-size: 2.4rem;
    }
    &:hover{
      background-color: #d9a600;
    }
  }
  &-red{
    background-color: $red;
    transition: background-color  .3s ease-in;
    color: $accent;
    .la{
      font-size: 2.4rem;
    }
    &:hover{
      background-color: #d7204b;
    }
  }
  &-green{
    background-color: #1e8044;
    transition: background-color  .3s ease-in;
    color: $accent;
    .la{
      font-size: 2.4rem;
    }
    &:hover{
      background-color: #15a550;
    }
  }
}
.chat_btn{
  text-decoration: none;
  border-radius: 100rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #3f09cd;
  display: inline-flex;
  .la{
    font-size: 1.8rem;
    color: #f3f3fc;
  }
}
.btn_reg{
  &,&:link{
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    text-align: center;
    display: inline-block;
    font-size: 2.4rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-image: repeating-conic-gradient($primary2, var(--deepblue));
    color: #f7f7f7;
    transition: all .35s ease-out;
    //font-weight: bold;
  }
  &:hover{
    background-image: repeating-conic-gradient(var(--deepblue),$primary2);
    background-position: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }

}


.btn_reg-full{
  &,&:link{
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    text-align: center;
    display: inline-block;
    font-size: 2.4rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-image: repeating-conic-gradient($primary2, var(--deepblue));
    color: #f7f7f7;
    transition: all .35s ease-out;
    //font-weight: bold;
    width: 100%;
  }
  &:hover{
    background-image: repeating-conic-gradient(var(--deepblue),$primary2);
    background-position: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }

}

.btn-bordered{
  &,&:link{
    text-decoration: none;
    padding: 1.5rem 3.6rem;
    text-align: center;
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 1rem;

    transition: all .35s ease-in;
  }
  &-primary{
    color: $primary2;
    border: 1px solid currentColor;
    &:hover{
      color: #f7f7f7!important;
      background-image: linear-gradient(45deg,$primary2, var(--deepblue));
      box-shadow: 0 4px 15px rgba(0,0,0,.2);
      border: 1px solid $primary2;
    }
  }
}