.card{
  padding: 2.5rem;
  border-radius: 1.8rem;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  border: .5px solid var(--border-color);
  transition: all .35s ease;
  &:hover{
    box-shadow: 0 25px 40px rgba(0,0,0,.1);
  }

}
.card-content{
  padding: 2.5rem;
  border-radius: 1.8rem;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: all .35s ease;
}
.card-content-fl{
  padding: 2.5rem;
  background-color:rgba(16 18 27 / 40%) ;
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: all .35s ease;
}

.card_w{
  padding:2.5rem;
  border-radius: 1.8rem;
 margin-top: 4rem;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  width: 30%;
  @include respond(tabLand){
    width: 70%;
  }
  @include respond(tabPort){
    width: 100%;
  }
}
.grid{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include respond(tabPort){
    flex-direction: column;
  }
  &-item-f{
    flex: 1;
  }
  &-item1_4{
    flex: .25;
    margin:1rem;
    @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item2_4{
    flex: .50;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item3_4{
    flex: .75;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item1_3{
    flex: .33;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100%;
       margin: 1rem 0;
  }
  }
  &-item2_3{
    flex: .62;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
}