.card{
  padding: 1.8rem;
  border-radius: 1.2rem;
  transition: box-shadow .35s ease-out;
  background-color: white;
  &:hover{
    box-shadow: 0 4px 40px rgba(0,0,0,.1);
  }

}

.card_w{
  padding:2.5rem;
  border-radius: 1.2rem;
 margin-top: 4rem;
  background-color: white;
  width: 30%;
  @include respond(tabLand){
    width: 70%;
  }
  @include respond(tabPort){
    width: 100%;
  }
}
.grid{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include respond(tabPort){
    flex-direction: column;
    align-items: center;
  }
  &-item-f{
    flex: 1;
  }
  &-item1_4{
    flex: .25;
    margin:1rem;
    @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item2_4{
    flex: .50;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item3_4{
    flex: .75;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
  &-item1_3{
    flex: .33;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100%;
       margin: 1rem 0;
  }
  }
  &-item2_3{
    flex: .62;
    margin:1rem;
     @include respond(tabLand){
      flex:.5;
      width:100% ;
    }
     @include respond(tabPort){
    flex:1;
       width:100% ;
       margin: 1rem 0;
  }
  }
}

.success-card{
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #d4fdea;
  width: 80%;
  margin: 2rem auto;
  //transform: translate(-50%,-50%);
  border-radius: 1rem;
  display: inline-block;
  transition: all .35s;
  h1,h2,h3,h4,h5,h6,p,a{
    color: $green;
  }
  z-index: 250;
}

.info-card{
  padding:2.5rem;
  border-radius: 1.2rem;
  background-color: #f3f3fc;
}

.plan-btn{
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%,5%);
  z-index: 0;
}

.plan-card{
  text-align: center;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 2.8rem;
  transition: all .35s;
  //border: 1px solid lavender;
  position: relative;
  min-width: 35rem;
  margin: 2.4rem 1rem;
  box-shadow: 0 2px 20px rgba(0,0,0,.1);
  @include respond(tabPort){
    margin:1rem auto;
  }
  @include respond(phone){

    min-width: 25rem;
  }
  .overlayText{
    position: absolute;
    top: 2.4rem;
    left: -1rem;
    padding: 1.5rem;
    border-radius: 0 3rem 3rem 0;
    font-size: 1.8rem;
    color: #f7f7f7;
    background-image: linear-gradient(#4233ff, #5a35f3);
  }
  .plan-card-h{
    background-image: linear-gradient(#4233ff, #c637fa);
    color: transparent;
    -webkit-background-clip: text;
  }
  .plan-details{
    padding: 1rem;
    border-radius: 1.2rem;
    //background-color: #f3f3fc;
    ul{
      list-style: none;
      padding: 1rem 0;
     border-top: 1px solid lavender;
      li{
        padding: 1rem 0;
        font-size: 2.4rem;

      }
    }
  }

  &:hover{
    transform: translateY(-.5rem) scale(1.05);
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }
}