

////CHART AREA


.fade{
  animation: fade 5s ease;
  transition: all 5s ease;
}
.minimize{
  animation: minimize .5s ease;
}
.chat_area{
  position: fixed;
  bottom: 10%;
  right: 12rem;
  z-index: 200;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0,0,0,.1);
  width: 25%;
  height: 50rem;
  display: none;
  flex-direction: column;

  @include respond(tabLand){
    width: 50%;
    right: 1rem;
  }
  @include respond(tabPort){
    width: 60%;
    right: 1rem;
  }
  @include respond(phone){
    width: 100%;
    right: 0;
    height: 100%;
    bottom: 0;
  }
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  &-top{
    background-color:#6335e3;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0 ;
    @include respond(phone){
   border-radius: 0;
    }
    h2,p{
      color: #eeeeee!important;
    }
    .la{
      color: #f3f3fc;
      cursor: pointer;
    }
  }
  &-body{
    border: 1px solid $accent;
    padding: 1.5rem;
    height: 10rem;
    background-color: #f5f5fa;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    .chat_msg-client{
      position: relative;
      left: 0;
      background-color: #f6e97a;
      padding: 1rem;
      border-radius: 2rem 2rem 2rem 0;
      font-size: 1.4rem;
      margin: 1rem 0;
      display: inline-block;


    }
    .chat_msg-support{
      position: relative;
      right: 0;
      background-color: #d77dfc;
      padding: 1rem;
      border-radius: 2rem 0 2rem 2rem;
      font-size: 1.4rem;
      margin: 1rem 0;
      display: inline-block;
      align-self: flex-end;

    }
  }
  .chat-form{
    input{
      border: none;
      padding: 1.8rem;
      width: 85%;
      border-radius:0 0 1.5rem 1.5rem  ;

      &:active,&:focus{

        outline: none;
      }
    }
  }

}

@keyframes minimize {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
@keyframes fade {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

