.tabs{
  .tab{
    margin-bottom: 2rem;
    background-color: rgba(16 18 27 / 30%);
    padding: 1.5rem;
    border-radius: 2rem;
    .tab-label{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
      .h6{
        color: $primary2;
      }
    }
    .tab-icon{
      position: relative;
      &:before,&:after{
        width: 2rem;
        height: .4rem;
        background-image: repeating-conic-gradient($primary2, var(--deepblue));
        content: " ";
        position: absolute;
        transition: all .35s ease-in-out;
      }


      &:before{
        transform: rotate(90deg) translate(0, -.3rem);
      }
    }
    input{
      display: none;
    }
    .tab-content{
      font-size: 1.6rem;
      padding: 1rem 3rem;
      border-radius: 1rem;
      background-color: rgba(16 18 27 / 40%);
      margin-top: 1rem;
      transition: all .35s ease-in;
      animation: slideInDown .5s ease-in-out forwards;
      opacity: 1;
      height: 0;
      transform-origin: 0;
      display: none;
      color: #f7f7f7;
    }
    input:checked ~ .tab-content{
      height: auto;
      display: block;
    }
    input:checked + .tab-label  {
      .tab-icon{

        &:before{
          background-image: repeating-conic-gradient($primary2, var(--deepblue));
          transform: rotate(0deg) translate(0, 0);
          width: 0;
        }}
    }
  }
}
.faqs__banner{
  background-image: url("../../images/faqs.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  h2{
    color: #f7f7f7;
  }
}

.about__banner{
  background-image: url("../../images/about.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  h2{
    color: #f7f7f7;
  }
}
@keyframes slideInDown {
  from{
    transform-origin: 1000px;
    transform: translateY(2rem) ;
    opacity: 0;
    height: 0;
  }
  to{

    display: block;
    height: auto;
  }
}
.auth__banner{
  width: 100%;
  padding: 10rem;
  background-image: url("../../images/login.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  h2{
    color: #f7f7f7;
  }
  @include respond(tabLand){
    padding: 10rem 2rem;
  }
}
.auth__container{
  //position: absolute;
  width: 40%;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  border-radius: 1.5rem;
  padding: 1.6rem;
  margin: 1rem auto;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
  min-height: 30rem;
  @include respond(tabLand){
    width: 70%;
  }
  @include respond(tabPort){
    width: 100%;
  }
}
.auth__form{
  //text-align: left;
  position: relative;
  .auth__inputBox{
    padding: .2rem .6rem;
    background-color: rgba(16 18 27 / 20%);
    border: 2px solid var(--border-color);
    margin: 1.6rem;
    border-radius: 5px;
    input{
      background-color: inherit;
      border: none;
      padding: 1.2rem 1.6rem;
      width: 100%;
    }
    select{
      border: none;
      background-color: inherit;
      border: none;
      padding: 1.2rem 1.6rem;
      width: 100%;
    }
  }
}

.crypto-icons{
  height: 4rem;
}