.post-article{
  padding: 1.5rem;
  &-body{

  }
  &-img{
    margin-top: 1.5rem;
  }
}

.dark-bg{
  background-color: rgba(16 18 27 / 99%);
}
.emSm{
  background-color: #cf7e39;
  padding: .6rem;
}
.centered-box{
  width: 70%;
  margin: 2rem auto;

  @include respond(tabPort){
    margin: 5rem auto;
    width: 90%;
  }
}

.relatedPost{
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  transition: all .35s ease-in-out;
  &:hover{
    background-color: $darkGrey
  }
}
.article-card{
  width: 26%;
  padding: 1.5rem;
  background-color: #0b0b0b;
  border-radius: 1.5rem;
  margin: 2rem;
  min-height: 20rem;
  min-width: 25%;
  transition: all .35s ease;
  &:hover{
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0 4px 30px #008bf8;
  }
  @include respond(tabLand){
    max-width: 40%;

    min-width: 35%;
  }
  @include respond(tabPort){
    max-width: 45%;

    min-width: 45%;
  }
  @include respond(phone){
    max-width: 90%;
    min-width: 89%;
  }
}
.allArticles{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start ;

}