$primaryBg: #eeeeee;
$accent: #dbeae5;
$primary: #eaca5b;
$primary2: #fcab65;
$grey: #24282f;
$midGrey: #d5d5f3;
$darkGrey: #2b3441;
$darkYellow: #807352;
$yellow: #f3c30b;
$white : #ffffff;
$green:  mediumseagreen;
$lightGreen: #5cd993;
////
$red:#ef3945;
$lightRed: #d78496;


.grey{
  color: $grey!important;
}
.grey_color{
  color:#f7f7f7!important;
}
.light{
  font-weight: normal;
}
.red{
  color: #ef3945!important;
}
.success{
  color: mediumseagreen!important;
}
.pending{
  color: coral!important;
}
.dark{
  color: #f7f7f7!important;

}
.goldIcon{
  color: var(--gold);
}


.display_flex{
  display: flex;
}
.H20{
  height: 20rem;
}
.overflow-hidden{
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.list-style-none{
  list-style: none;
}
.white{
  color: white;
}
.jus-end{
  justify-content: flex-end;
}