.home-nav{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border-bottom: 1px solid lavender;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //background-color: rgba(43, 43, 65, 0.9);
  z-index: 6;
  transition: all .35s ease-in;
  //background-color: rgba(43, 43, 65, 0.1);
  @include respond(tabPort){

  }
  &-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: .5;
    @include respond(tabPort){
      flex: 1;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;

      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: absolute;
      //flex: 1;
      z-index: 6;
      top: 6.5rem;
      right: 0;
      height: 70vh;
      overflow-y: scroll;
      border: 1px solid lavender;
      background-color: white ;
    }
    &-item{
      cursor: pointer;
      @include respond(tabPort){
        width: 100%;
        padding: 2rem;
        &:hover{
          background-color: #f3f3f3;
        }
      }

      &-link{
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 400;
        color: #f7f7f7;

        &:hover{
          @include respond(tabPort){
            font-weight: bold;
            font-size: 1.8rem;
            padding: 2rem;
          }
        }
      }
    }
  }
}

#menu_home{
  display: none;
}

.menu_home{
  background-color: #ffffff;
  justify-self: flex-end;
  display: none;
  position: relative;
  cursor: pointer;
  padding: 2.3rem;
  width: 2.5rem;
  margin-right: .5rem;
  //border-radius: 1rem;
  z-index: 7;
  &-bar{
    &,&:before,&:after{
      width: 2.4rem;
      height: .3rem;
      background-image: repeating-conic-gradient($primary2, var(--deepblue));
      position: absolute;
      border-radius: 3rem;
      transition: all .35s;
      left: .5rem;
      @include respond(tabPort){
        //background-color: white;
      }
    }
    &:before,&:after{
      content: " ";

    }
    &:before{
      top: -.6rem;
    }
    &:after{
      top: .6rem;
    }

  }


  @include respond(tabPort){
    display: inline-block;
  }
}

#menu_home:checked ~ .home-nav-list{
  @include respond(tabPort){
    display: none;
  }
}
#menu_home ~ .menu_home > .menu_home-bar:before{
  transform: rotate(45deg) translate(.75rem,1.25rem);
}
#menu_home ~ .menu_home > .menu_home-bar{
  background-color: transparent;
}
#menu_home ~ .menu_home > .menu_home-bar:after{
  transform: rotate(-45deg)  translate(.75rem,-1.25rem);
}
#menu_home:checked ~ .menu_home > .menu_home-bar:before{
  transform: rotate(0deg);
}
#menu_home:checked ~ .menu_home > .menu_home-bar:after{
  transform: rotate(0deg);
}







.header {
  position: relative;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @include respond(phone) {
    height: 75vh;
  }

  h1 {
    color: #f7f7f7;
  }

  p {
    color: #f7f7f7;

    a {
      color: #f7f7f7;
      text-decoration: none;
      font-size: 1.2rem;
      @include respond(phone) {
        font-size: 1rem;
      }
    }
  }

  &-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.home_layout{
  width: 70%;
  margin: 10rem auto;

  @include respond(tabPort){
    margin: 5rem auto;
    width: 90%;
  }

}
.liveCrypto-section{
  width: 70%;
  //background-color: #73739f;
  margin: 10rem auto;
  @include respond(tabPort){
    margin: 5rem auto;
    width: 90%;
  }

}
.crypto-card{
  border-radius: 1.2rem;
  padding: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all .35s ease-in;
  border: 1px solid lavender;
  &-text{
    .crytpo-currency{
      background-color: $grey;
    }
  .crypto-rate{
    font-size: 2.4rem;
  }
  }
  &-icon-box{
    margin-right: 1rem;
    //background-color: #f4f4fa;
    padding: 2rem;
    border-radius: 1rem;
    &-icon{
      text-align: center;
     .la-btc{
       color: #ecc353;
       font-size: 2.8rem;
     }
      .la-ethereum{
       color: #53eca5;
       font-size: 2.8rem;
     }
    }

  }
  &:hover{
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }
}



///PLAN SECTION



.about{
  //padding: 2rem 0;
  &-card{
    padding: 1.5rem;
    //background-color: #ef3945;
    text-align: center;
    @include respond(tabPort){
      margin: 2rem 0;
    }
    .la{
      color: #3378EA;
      font-weight: bold;
      font-size: 6rem;
      transition: all .3s ease-in;
      &:hover{
        color: #1FBA8F;
        transform: rotate(15deg);
      }
    }
  }
}
.top-container{
  position: relative;
  background-color: var(--deepblue);
  height: 8rem;
  display: block;
}


///COVID
.covid{

  padding: 6rem 4rem;
  //width: 80%;
  margin: 0 auto;
  text-align: center;background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  color: #f7f7f7;
  border-bottom: 8px solid var(--border-color);

  h2,p{
    color: #f7f7f7!important;
  }
  a{
    color: $primary !important;
  }
}
.black-box{
  padding: 3rem;
  width: 100%;
  text-align: center;background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(50px);
  color: #f7f7f7;
  border-bottom: 8px solid var(--border-color);
  h2,p{
    color: #f7f7f7!important;
  }

}
.text{
  color: $primary2;
  margin-bottom: 1rem;
}

.process-section{
  background-color: $accent;
  padding: 6rem 0;
}
.growth-section{
  padding: 6rem 0;
  background-color: #cbecf1;
  img{
    height: 50rem;
    @include respond(phone){
      height: 100%;
      width: 100%;
    }
  }
}
.faq-section{
  background-color: $accent;
  padding: 2rem 0;
}
.getting-section{
  background-color: #f3f3fc;
  padding: 3rem 0;
}
.offer_header{
  background-color: #f3f3fc;
  padding: 3rem 0;

}

.invest-section{
  h4,h2,p{
    color: #f7f7f7;
  }
}


