<div class="dash-body" >

    <h3 class="h4">Create Post</h3>


    <form class=" card" id="createForm" method="post" >
        <div class="form-input-box">

            <input name="title" class="form-input"  aria-describedby="emailHelp" placeholder="Enter title">
        </div>
        <div id="editorjs"></div>
        <div class="form-input-box">
            <input name="author" class="form-input"  aria-describedby="author" placeholder="author">
        </div>
        <button id="createBtn" class="btn btn-success">Create Post</button>
    </form>




</div>
<script src="/js/editorPost.js"></script>