<div class="dash-body" >

    <h3 class="h4">Create Post</h3>
    <form class="width50 mgT2 card" method="post" action="/admin/post/p/post/c" enctype="multipart/form-data">
        <div class="form-input-box">

            <input name="title" class="form-input"  aria-describedby="emailHelp" placeholder="Enter title">
        </div>

        <div class="form-input-box">

            <input name="subtitle" class="form-input" aria-describedby="subtitle" placeholder="Subtitle">
        </div>

        <div class="form-input-box">

            <input name="author" class="form-input"  aria-describedby="author" placeholder="author">
        </div>
        <div class="form-input-box">

           <textarea name="description" placeholder="description" class="form-textarea"></textarea>
        </div>
        <div class="form-input-box">
            <input name="file" class="form-input" type="file" />
        </div>
        <button class="btn btn-success">Create Post</button>
    </form>

</div>