
<div class="about__banner centerText">
    <h2 class="h4 pdV2">Blog</h2>
</div>
<div class="centered-box">

    <div class="allArticles">
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
        <div class="article-card">
            <img src="/images/img1.jpg" class="flowImg">

            <div class="mgT1">
                <h5 class="h4">What is crypto currency trading</h5>
                <p class="h6"> aperiam doloremque hic inventore ipsam, iste itaque molestias nam nulla praesentium quos recusandae tempora totam vitae. Dolor dolorem eos iure!</p>
            </div>
           <div class="dark-bg pd2 mgT1">
               <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
               <span class="mgL2 h6">12 May 2022</span>
           </div>
        </div>
    </div>
</div>