
<div class="about__banner centerText">
    <h2 class="h4 pdV2">Blog</h2>
</div>
<div class="centered-box" style="width:90%;margin: 0 auto">
  <h5 class="h4 mgL1 mgT2 centerText">Popular Articles</h5>
    <div class="allArticles mgT4" id="allArticles">

    </div>
</div>

<script src="/js/allPosts.js"></script>