

<div class="">
    <div class="centered-box card ">
        <div class="post-article ">
            <h2 class="h3 dark">We give unique options to our clients</h2>
            <p class="h5">Easy to use platform</p>
            <div class="mgT2">


                <span class="h6"> <em class="pending">Author</em> <span class="mgL1">Mark Miller</span></span>
                <span class="mgL2 h6">12 May 2022</span>
            </div>
            <div class="post-article-img">
                <img src="/images/img1.jpg" class="flowImg">
            </div>
            <div class="post-article-body">
                <p class="h5 dark mgT2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium facere illo iste mollitia odio quidem soluta temporibus velit vitae? Aspernatur beatae dicta ducimus illo molestiae non perferendis quam tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic numquam, pariatur. At distinctio eaque excepturi fuga hic in laboriosam libero magni, minus nostrum perferendis sunt tempora unde vel velit vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id molestias omnis similique vitae! Amet asperiores consequatur distinctio ea expedita illum inventore itaque, libero minima non qui sapiente sint ut!</p>
                <p class="h5 dark mgT2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium facere illo iste mollitia odio quidem soluta temporibus velit vitae? Aspernatur beatae dicta ducimus illo molestiae non perferendis quam tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic numquam, pariatur. At distinctio eaque excepturi fuga hic in laboriosam libero magni, minus nostrum perferendis sunt tempora unde vel velit vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id molestias omnis similique vitae! Amet asperiores consequatur distinctio ea expedita illum inventore itaque, libero minima non qui sapiente sint ut!</p>
                <p class="h5 dark mgT2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium facere illo iste mollitia odio quidem soluta temporibus velit vitae? Aspernatur beatae dicta ducimus illo molestiae non perferendis quam tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic numquam, pariatur. At distinctio eaque excepturi fuga hic in laboriosam libero magni, minus nostrum perferendis sunt tempora unde vel velit vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id molestias omnis similique vitae! Amet asperiores consequatur distinctio ea expedita illum inventore itaque, libero minima non qui sapiente sint ut!</p>
            </div>
        </div>
    </div>
</div>
{{>related}}