.Auth-box{
  display: flex;

  &-side{
    padding: 2rem;
    background-image:linear-gradient(60deg, rgba(172, 156, 229, 0.7),rgba(0,0,0,.2)) ,url("../assets/bg2.jpg");
    background-size:cover;
    background-position: center;
    flex: .4;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: #3f09cd;
    @include respond(tabPort){
      flex: .2;
    }
    &-link{
      font-size: 1.4rem;
      color: #f3f3fc;
      a {
        text-decoration: none;
        color: #73739f;
      }
    }
  }
  &-main{
    padding: 4rem;
    flex: .6;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @include respond(tabPort){
      width: 100%;
      flex: .8;
    }
  }
}
.auth-form{
  width: 50%;
  margin-top: 6rem;
  @include respond(tabLand){
    width: 80%;
  }
@include respond(tabPort){
  width: 100%;
}

}
.form-input-box{
  padding: 1rem 0;
  width: 100%;
  border-radius: 1rem;
  background-color: #f7f7f7;
  //border-radius: 1rem;
&:not(:first-child){
  margin: 2rem 0;

}
  .form-input{
    border: none;
    padding:1rem 1.6rem ;
    background-color: inherit;
    width: 100%;

    &:active,&:focus{

      outline: none;
    }
  }
  .form-input-select{
    border: none;
    padding:1rem 1.6rem ;
    background-color: inherit;
    width: 100%;
    option{

&:focus{
  outline: none;
}
    }
  }
  .form-textarea{
    width: 100%;
    background-color: inherit;
    padding: .2rem;
    resize: none;
    height: 8rem;
    border: none;
  }
}