@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.grey {
  color: #24282f !important;
}

.grey_color {
  color: #f7f7f7 !important;
}

.light {
  font-weight: normal;
}

.red {
  color: #ef3945 !important;
}

.success {
  color: mediumseagreen !important;
}

.pending {
  color: coral !important;
}

.dark {
  color: #f7f7f7 !important;
}

.goldIcon {
  color: var(--gold);
}

.display_flex {
  display: flex;
}

.H20 {
  height: 20rem;
}

.main-h {
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.h1 {
  font-size: 7.2rem;
  color: #f7f7f7;
}

.h2 {
  font-size: 4.8rem;
  color: #f7f7f7;
}
@media screen and (max-width: 56.5em) {
  .h2 {
    font-size: 3.6rem;
  }
}

.h3 {
  font-size: 3.6rem;
  color: #f7f7f7;
}
@media screen and (max-width: 56.5em) {
  .h3 {
    font-size: 2.8rem;
  }
}

.h4 {
  font-size: 2.4rem;
  color: #f7f7f7;
}
@media screen and (max-width: 56.5em) {
  .h4 {
    font-size: 1.8rem;
  }
}

.h5 {
  font-size: 1.8rem;
  color: #f7f7f7;
}

.h6 {
  font-size: 1.6rem;
  color: #f7f7f7;
}

.h7 {
  font-size: 1.2rem;
  color: #f7f7f7;
}

.iconBTC {
  font-size: 30rem;
}

.icon64 {
  font-size: 6.4rem;
}

.icon48 {
  font-size: 4.8rem;
}

.icon24 {
  font-size: 2.4rem;
}

.icon36 {
  font-size: 3.6rem;
}

.icon16 {
  font-size: 1.6rem;
}

.link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #eaca5b;
  text-decoration: none;
}

.greyText {
  color: #73739f !important;
}

.centerText {
  text-align: center;
}

.yellow-text {
  color: var(--gold);
}

.emMd {
  padding: 1rem;
  background-color: var(--gold);
}

.no-deco {
  text-decoration: none;
  font-size: 1.6rem;
  color: #008bf8;
}

.green-text {
  color: var(--green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Roboto, Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  --inactive:rgb(113 119 144 / 78%);
  --border-color: rgba(113 119 144 / 25%);
  --dark: #000814;
  --deepblue:#001329;
  --deepblue2:#001d3d;
  --deepblue3:#001d3d;
  --blue:#014E88;
  --gold:#ffd60a;
  --gold2:#ffc300;
  --inbetweenGold:#807c33;
  --red: #f7365d;
  --deepred:#530303;
  --green:#62EEA1;
  --limegreen:#29CB29;
  --deepgreen:#074121;
}

html {
  font-size: 62.25%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 68.75%;
  }
}
@media screen and (max-width: 56.5em) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer {
  padding: 2rem 0;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(100px);
  color: #f7f7f7;
  border-top: 8px solid var(--border-color);
}
footer .footer_cont {
  margin: 10rem auto 0 auto;
  width: 70%;
}
@media screen and (max-width: 56.5em) {
  footer .footer_cont {
    margin: 5rem auto 0 auto;
    width: 90%;
  }
}
footer p, footer h4 {
  color: #f7f7f7 !important;
}
footer .footer_list {
  list-style: none;
}
footer .footer_list li {
  margin: 1.65rem 0;
}
footer .footer_list li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #f7f7f7;
  transition: color 0.35s ease-in-out;
}
footer .footer_list li a:hover {
  color: #fcab65;
}

li {
  color: #f7f7f7;
}

.footer__socialSection {
  padding: 2rem 0;
}
.footer__socialSection a {
  text-decoration: none;
  transition: color 0.35s ease-in-out;
}
.footer__socialSection a i {
  font-size: 4.8rem;
  color: #f7f7f7;
}
.footer__socialSection a i:hover {
  color: #fcab65;
}

.company {
  font-size: 1.6rem;
  color: #008bf8;
}

.logo {
  height: 3.6rem;
}

.mgT1 {
  margin-top: 1rem;
}
.mgT2 {
  margin-top: 2rem;
}
.mgT3 {
  margin-top: 3rem;
}
@media screen and (max-width: 56.5em) {
  .mgT3 {
    margin-top: 2rem;
  }
}

.mgT4 {
  margin-top: 4rem;
}
@media screen and (max-width: 56.5em) {
  .mgT4 {
    margin-top: 3rem;
  }
}

.mgV6 {
  margin: 8rem 0;
}

.mgV2 {
  margin: 2rem 0;
}
.mgV4 {
  margin: 4rem 0;
}
@media screen and (max-width: 56.5em) {
  .mgV4 {
    margin: 3rem;
  }
}

.mgL2 {
  margin-left: 2rem;
}

.pdMax {
  padding: 6rem;
}
@media screen and (max-width: 56.5em) {
  .pdMax {
    padding: 3rem;
  }
}

.pdV2 {
  padding: 0 2rem;
}
.pd2 {
  padding: 2rem;
}
.pd4 {
  padding: 4rem;
}
@media screen and (max-width: 56.5em) {
  .pd4 {
    padding: 2rem;
  }
}

.width50 {
  width: 50%;
}
@media screen and (max-width: 56.5em) {
  .width50 {
    width: 100%;
  }
}

.display_flex {
  justify-content: space-between;
  display: flex;
}

.center_home {
  margin: 10rem auto;
}

.wallet-just {
  justify-content: normal !important;
}

.flowImg {
  width: 100%;
}

.width90 {
  width: 90%;
}
@media screen and (max-width: 56.5em) {
  .width90 {
    width: 99.9%;
  }
}

.width35 {
  width: 35%;
}

.width65_ {
  width: 65%;
}
@media screen and (max-width: 56.5em) {
  .width65_ {
    width: 90%;
  }
}

.msg_btn {
  position: fixed;
  bottom: 5%;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 200rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaca5b;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.msg_btn .la {
  color: #eeeeee;
  font-size: 3.2rem;
}

.btn, .btn:link {
  text-decoration: none;
  padding: 0.8rem 1.4rem;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.btn-success {
  background-color: #73739f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  color: white;
}
.btn-success .la {
  font-size: 2.4rem;
  margin-left: 1rem;
}
.btn-success:hover {
  background-color: #7676ac;
}
.btn-primary {
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  transition: background-color 0.3s ease-in;
  color: #f7f7f7 !important;
}
.btn-primary .la {
  font-size: 2.4rem;
}
.btn-primary:hover {
  background-image: repeating-conic-gradient(var(--deepblue), #fcab65);
}
.btn-purple {
  background-color: #eaca5b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  color: #dbeae5;
}
.btn-purple .la {
  font-size: 2.4rem;
}
.btn-purple:hover {
  background-color: #fcab65;
}
.btn-red {
  background-color: #ef3945;
  transition: background-color 0.3s ease-in;
  color: #dbeae5;
}
.btn-red .la {
  font-size: 2.4rem;
}
.btn-red:hover {
  background-color: #d7204b;
}
.btn-green {
  background-color: mediumseagreen;
  transition: background-color 0.3s ease-in;
  color: #dbeae5;
}
.btn-green .la {
  font-size: 2.4rem;
}
.btn-green:hover {
  background-color: #5cd993;
}

.chat_btn {
  text-decoration: none;
  border-radius: 100rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #3f09cd;
  display: inline-flex;
}
.chat_btn .la {
  font-size: 1.8rem;
  color: #f3f3fc;
}

.btn_reg, .btn_reg:link {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  text-align: center;
  display: inline-block;
  font-size: 2.4rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  color: #f7f7f7;
  transition: all 0.35s ease-out;
}
.btn_reg:hover {
  background-image: repeating-conic-gradient(var(--deepblue), #fcab65);
  background-position: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn_reg-full, .btn_reg-full:link {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  text-align: center;
  display: inline-block;
  font-size: 2.4rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  color: #f7f7f7;
  transition: all 0.35s ease-out;
  width: 100%;
}
.btn_reg-full:hover {
  background-image: repeating-conic-gradient(var(--deepblue), #fcab65);
  background-position: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-bordered, .btn-bordered:link {
  text-decoration: none;
  padding: 1.5rem 3.6rem;
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.35s ease-in;
}
.btn-bordered-primary {
  color: #fcab65;
  border: 1px solid currentColor;
}
.btn-bordered-primary:hover {
  color: #f7f7f7 !important;
  background-image: linear-gradient(45deg, #fcab65, var(--deepblue));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #fcab65;
}

.transaction-table {
  width: 100%;
  border: 2px solid var(--border-color);
  border-collapse: collapse;
  text-align: left;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
  background-color: rgba(16, 18, 27, 0.4);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
}
.transaction-table:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}
.transaction-table thead th {
  padding: 1.5rem 1.8rem;
  color: white;
  text-transform: uppercase;
}
.transaction-table tbody {
  background-color: inherit;
}
.transaction-table tbody tr:hover {
  background-image: linear-gradient(34deg, #0002, #0009);
  backdrop-filter: blur(10px);
}
.transaction-table tbody td {
  padding: 1.8rem 2rem;
  color: #f7f7f7;
}

.transaction-table-cont {
  width: 100%;
}
@media screen and (max-width: 56.5em) {
  .transaction-table-cont {
    overflow-x: auto;
    border-radius: 1rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .transaction-table-cont::-webkit-scrollbar {
    display: none;
  }
}

.glassTable {
  width: 100%;
  border: 2px solid #101010;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  background-color: rgba(16, 18, 27, 0.4);
}
.glassTable:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}
.glassTable thead th {
  padding: 1.5rem 1.8rem;
  color: white;
  text-transform: uppercase;
}
.glassTable tbody {
  background-color: inherit;
}
.glassTable tbody tr:hover {
  background-image: linear-gradient(34deg, #0002, #0009);
  backdrop-filter: blur(10px);
}
.glassTable tbody td {
  padding: 1.8rem 2rem;
  color: #f7f7f7;
}

.card {
  padding: 2.5rem;
  border-radius: 1.8rem;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 0.5px solid var(--border-color);
  transition: all 0.35s ease;
}
.card:hover {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 2.5rem;
  border-radius: 1.8rem;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease;
}

.card-content-fl {
  padding: 2.5rem;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease;
}

.card_w {
  padding: 2.5rem;
  border-radius: 1.8rem;
  margin-top: 4rem;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  width: 30%;
}
@media screen and (max-width: 75em) {
  .card_w {
    width: 70%;
  }
}
@media screen and (max-width: 56.5em) {
  .card_w {
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 56.5em) {
  .grid {
    flex-direction: column;
  }
}
.grid-item-f {
  flex: 1;
}
.grid-item1_4 {
  flex: 0.25;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item1_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item1_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item2_4 {
  flex: 0.5;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item2_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item2_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item3_4 {
  flex: 0.75;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item3_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item3_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item1_3 {
  flex: 0.33;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item1_3 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item1_3 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item2_3 {
  flex: 0.62;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item2_3 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item2_3 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}

.error-msg {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #fff7fa;
  border-radius: 1rem;
  transition: all 0.35s;
  z-index: 250;
}
.error-msg h1, .error-msg h2, .error-msg h3, .error-msg h4, .error-msg h5, .error-msg h6, .error-msg p, .error-msg a {
  color: #fc4667 !important;
}

.success-msg {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #f1fff7;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: all 0.35s;
  z-index: 250;
}
.success-msg h1, .success-msg h2, .success-msg h3, .success-msg h4, .success-msg h5, .success-msg h6, .success-msg p, .success-msg a {
  color: mediumseagreen;
}

.small_error {
  background-color: #ffedf3;
  color: var(--red);
  font-size: 1.65rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

.form-error {
  background-color: #ffedf3;
  color: var(--red);
  font-size: 1rem;
  padding: 0.2rem;
}

.fade {
  animation: fade 5s ease;
  transition: all 5s ease;
}

.minimize {
  animation: minimize 0.5s ease;
}

.chat_area {
  position: fixed;
  bottom: 10%;
  right: 12rem;
  z-index: 200;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 50rem;
  display: none;
  flex-direction: column;
  border-radius: 1.5rem 1.5rem 0 1.5rem;
}
@media screen and (max-width: 75em) {
  .chat_area {
    width: 50%;
    right: 1rem;
  }
}
@media screen and (max-width: 56.5em) {
  .chat_area {
    width: 60%;
    right: 1rem;
  }
}
@media screen and (max-width: 37.5em) {
  .chat_area {
    width: 100%;
    right: 0;
    height: 100%;
    bottom: 0;
  }
}
.chat_area-top {
  background-color: #6335e3;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
@media screen and (max-width: 37.5em) {
  .chat_area-top {
    border-radius: 0;
  }
}
.chat_area-top h2, .chat_area-top p {
  color: #eeeeee !important;
}
.chat_area-top .la {
  color: #f3f3fc;
  cursor: pointer;
}
.chat_area-body {
  border: 1px solid #dbeae5;
  padding: 1.5rem;
  height: 10rem;
  background-color: #f5f5fa;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.chat_area-body::-webkit-scrollbar {
  display: none;
}
.chat_area-body .chat_msg-client {
  position: relative;
  left: 0;
  background-color: #f6e97a;
  padding: 1rem;
  border-radius: 2rem 2rem 2rem 0;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_area-body .chat_msg-support {
  position: relative;
  right: 0;
  background-color: #d77dfc;
  padding: 1rem;
  border-radius: 2rem 0 2rem 2rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
  align-self: flex-end;
}
.chat_area .chat-form input {
  border: none;
  padding: 1.8rem;
  width: 85%;
  border-radius: 0 0 1.5rem 1.5rem;
}
.chat_area .chat-form input:active, .chat_area .chat-form input:focus {
  outline: none;
}

@keyframes minimize {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.owl-slide {
  height: 90vh;
  width: auto;
  background-size: cover;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 56.5em) {
  .owl-slide {
    background-position: right;
    height: 100vh;
  }
}
.owl-slide h1, .owl-slide p {
  color: #f7f7f7;
}

.owl-carousel {
  margin: 0 !important;
}

.container {
  width: 80%;
  padding: 6rem;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  .container {
    width: 100%;
    padding: 4rem 1rem;
  }
}
@media screen and (max-width: 56.5em) {
  .container {
    width: 100%;
    padding: 4rem 1rem;
  }
}

.hero-list {
  padding: 1.5rem;
}
.hero-list li {
  font-size: 1.6rem;
  position: relative;
  z-index: 2;
}
.hero-list li:before {
  width: 25%;
  height: 2rem;
  position: absolute;
  left: 25%;
  bottom: -0.25rem;
  content: " ";
  z-index: 1;
}
.hero-list li:after {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 5%;
  top: 0;
  content: " ";
  z-index: 1;
  transition: all 0.4s ease-out;
}
.hero-list li:hover::before {
  background-color: rgba(98, 238, 161, 0.55);
}
.hero-list li:hover:after {
  transform: rotate3d(0.2, 0.2, 0.2, 45deg);
  background-color: rgba(247, 54, 122, 0.8);
}

@keyframes rotate3d {
  0%, 50% {
    animation-timing-function: ease-in;
    transform: rotate3d(0.1, 0.2, 0.3, 45deg);
  }
  100% {
    transform: rotate3d(0.4, 0.4, 0.4, 45deg);
    animation-timing-function: ease-in;
  }
}
.slider {
  position: relative;
  padding: 2rem;
  margin-top: 4rem;
  transition: all 0.35s ease-in;
  background-image: url("../../images/testimonial/pattern-bg.svg");
  background-repeat: no-repeat;
}
.slider-img {
  flex: 1;
  margin-left: 2rem;
}
.slider-img img {
  width: 100%;
  border-radius: 3rem;
}
.slider .slide {
  display: flex;
  align-items: center;
  transition: all 0.35s ease-in;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}
@media screen and (max-width: 56.5em) {
  .slider .slide {
    flex-direction: column-reverse;
  }
}

.testimonial {
  flex: 1;
}
.testimonial .author {
  font-size: 1.45rem;
  color: #008bf8;
}
.testimonial blockquote {
  font-size: 1.6rem;
  position: relative;
}
.testimonial blockquote::before {
  position: absolute;
  top: -10rem;
  left: 0;
  font-family: "Roboto", sans-serif;
  content: "“";
  font-size: 200px;
  color: #008bf8;
  display: block;
  margin-bottom: -2rem;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1.6rem;
  background-color: white;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  border-radius: 20rem;
  z-index: 1;
  align-items: center;
  transform: translateX(-50%);
}
@media screen and (max-width: 56.5em) {
  .buttons {
    right: 2rem;
    left: unset;
  }
}
.buttons i {
  color: #008bf8;
  transition: all 0.35s ease-in-out;
}
.buttons i:hover {
  font-size: 3.6rem;
}

.tabs .tab {
  margin-bottom: 2rem;
  background-color: rgba(16, 18, 27, 0.3);
  padding: 1.5rem;
  border-radius: 2rem;
}
.tabs .tab .tab-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.tabs .tab .tab-label .h6 {
  color: #fcab65;
}
.tabs .tab .tab-icon {
  position: relative;
}
.tabs .tab .tab-icon:before, .tabs .tab .tab-icon:after {
  width: 2rem;
  height: 0.4rem;
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  content: " ";
  position: absolute;
  transition: all 0.35s ease-in-out;
}
.tabs .tab .tab-icon:before {
  transform: rotate(90deg) translate(0, -0.3rem);
}
.tabs .tab input {
  display: none;
}
.tabs .tab .tab-content {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: rgba(16, 18, 27, 0.4);
  margin-top: 1rem;
  transition: all 0.35s ease-in;
  animation: slideInDown 0.5s ease-in-out forwards;
  opacity: 1;
  height: 0;
  transform-origin: 0;
  display: none;
  color: #f7f7f7;
}
.tabs .tab input:checked ~ .tab-content {
  height: auto;
  display: block;
}
.tabs .tab input:checked + .tab-label .tab-icon:before {
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  transform: rotate(0deg) translate(0, 0);
  width: 0;
}

.faqs__banner {
  background-image: url("../../images/faqs.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.faqs__banner h2 {
  color: #f7f7f7;
}

.about__banner {
  background-image: url("../../images/about.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.about__banner h2 {
  color: #f7f7f7;
}

@keyframes slideInDown {
  from {
    transform-origin: 1000px;
    transform: translateY(2rem);
    opacity: 0;
    height: 0;
  }
  to {
    display: block;
    height: auto;
  }
}
.auth__banner {
  width: 100%;
  padding: 10rem;
  background-image: url("../../images/login.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.auth__banner h2 {
  color: #f7f7f7;
}
@media screen and (max-width: 75em) {
  .auth__banner {
    padding: 10rem 2rem;
  }
}

.auth__container {
  width: 40%;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 1.5rem;
  padding: 1.6rem;
  margin: 1rem auto;
  min-height: 30rem;
}
@media screen and (max-width: 75em) {
  .auth__container {
    width: 70%;
  }
}
@media screen and (max-width: 56.5em) {
  .auth__container {
    width: 100%;
  }
}

.auth__form {
  position: relative;
}
.auth__form .auth__inputBox {
  padding: 0.2rem 0.6rem;
  background-color: rgba(16, 18, 27, 0.2);
  border: 2px solid var(--border-color);
  margin: 1.6rem;
  border-radius: 5px;
}
.auth__form .auth__inputBox input {
  background-color: inherit;
  border: none;
  padding: 1.2rem 1.6rem;
  width: 100%;
}
.auth__form .auth__inputBox select {
  border: none;
  background-color: inherit;
  border: none;
  padding: 1.2rem 1.6rem;
  width: 100%;
}

.crypto-icons {
  height: 4rem;
}

.flowImgP {
  width: 100%;
  border-radius: 0.5rem;
}

.plan-section {
  background-image: linear-gradient(-45deg, rgba(0, 29, 61, 0.7), rgba(255, 51, 51, 0.2), url("/images/home/hero-4.jpg"));
  background-position: right;
  background-size: cover;
}

.plan-card {
  min-width: 30rem;
  border-radius: 0 2rem 0 2rem;
  transition: transform 0.35s ease-out;
  background-color: rgba(16, 18, 27, 0.5);
  margin: 4rem 0;
  animation: bgRotate 4s ease-in alternate;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media screen and (max-width: 75em) {
  .plan-card {
    margin: 4rem 2rem;
  }
}
@media screen and (max-width: 56.5em) {
  .plan-card {
    margin: 4rem 0;
    text-align: center;
  }
}
.plan-card .plan-card-h {
  color: #f7f7f7;
}
.plan-card .overlayText {
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  padding: 1rem;
  margin: 2rem 0 0 2rem;
  border-radius: 2rem 0 0 2rem;
}
.plan-card .overlayText p {
  color: #f7f7f7 !important;
}
.plan-card-body {
  padding: 2rem;
}
.plan-card ul {
  list-style: none;
}
@media screen and (max-width: 56.5em) {
  .plan-card ul {
    text-align: left;
  }
}
.plan-card ul li {
  font-size: 1.6rem;
  color: #f7f7f7;
}
.plan-card:hover {
  transform: translateY(-0.5rem) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: none;
}

@keyframes bgRotate {}
.plan-btn {
  position: relative;
}
.plan-btn:link, .plan-btn {
  text-decoration: none;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  text-align: center;
  color: #f7f7f7;
  width: 100%;
  margin-top: 2rem;
  display: block;
  background-color: var(--blue);
  overflow: hidden;
}
.plan-btn:link:hover, .plan-btn:hover {
  background-color: #015799;
}
.plan-btn:before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, var(--blue), var(--deepblue));
  border-radius: 0.5rem;
  background-position: left;
  display: none;
  animation: slide 0.5s ease-out alternate;
  transform: scale(0);
}
.plan-btn:hover:before {
  display: block;
  background-position: 1rem;
}
.plan-btn span, .plan-btn .las {
  z-index: 2;
}

@keyframes slide {
  100% {
    background-position: right;
    transform: scale(1.5);
  }
}
.home-nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  transition: all 0.35s ease-in;
}
.home-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}
@media screen and (max-width: 56.5em) {
  .home-nav-list {
    flex: 1;
    width: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 6;
    top: 6.5rem;
    right: 0;
    height: 70vh;
    overflow-y: scroll;
    border: 1px solid var(--border-color);
    background-color: rgba(16, 18, 27, 0.9);
  }
  .home-nav-list::-webkit-scrollbar {
    display: none;
  }
}
.home-nav-list-item {
  cursor: pointer;
}
@media screen and (max-width: 56.5em) {
  .home-nav-list-item {
    width: 100%;
    padding: 2rem;
  }
  .home-nav-list-item:hover {
    background-color: rgba(16, 18, 27, 0.8);
  }
}
.home-nav-list-item-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f7f7f7;
}
@media screen and (max-width: 56.5em) {
  .home-nav-list-item-link:hover {
    font-weight: bold;
    font-size: 1.8rem;
    padding: 2rem;
  }
}

#menu_home {
  display: none;
}

.menu_home {
  background-color: rgba(16, 18, 27, 0.4);
  justify-self: flex-end;
  display: none;
  position: relative;
  cursor: pointer;
  padding: 2.3rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  z-index: 7;
}
.menu_home-bar, .menu_home-bar:before, .menu_home-bar:after {
  width: 2.4rem;
  height: 0.3rem;
  background-image: repeating-conic-gradient(#fcab65, var(--deepblue));
  position: absolute;
  border-radius: 3rem;
  transition: all 0.35s;
  left: 0.5rem;
}
.menu_home-bar:before, .menu_home-bar:after {
  content: " ";
}
.menu_home-bar:before {
  top: -0.6rem;
}
.menu_home-bar:after {
  top: 0.6rem;
}
@media screen and (max-width: 56.5em) {
  .menu_home {
    display: inline-block;
  }
}

@media screen and (max-width: 56.5em) {
  #menu_home:checked ~ .home-nav-list {
    display: none;
  }
}

#menu_home ~ .menu_home > .menu_home-bar:before {
  transform: rotate(45deg) translate(0.75rem, 1.25rem);
}

#menu_home ~ .menu_home > .menu_home-bar {
  background-color: transparent;
}

#menu_home ~ .menu_home > .menu_home-bar:after {
  transform: rotate(-45deg) translate(0.75rem, -1.25rem);
}

#menu_home:checked ~ .menu_home > .menu_home-bar:before {
  transform: rotate(0deg);
}

#menu_home:checked ~ .menu_home > .menu_home-bar:after {
  transform: rotate(0deg);
}

.header {
  position: relative;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 37.5em) {
  .header {
    height: 75vh;
  }
}
.header h1 {
  color: #f7f7f7;
}
.header p {
  color: #f7f7f7;
}
.header p a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 37.5em) {
  .header p a {
    font-size: 1rem;
  }
}
.header-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home_layout {
  width: 70%;
  margin: 10rem auto;
}
@media screen and (max-width: 56.5em) {
  .home_layout {
    margin: 5rem auto;
    width: 90%;
  }
}

.liveCrypto-section {
  width: 70%;
  margin: 10rem auto;
}
@media screen and (max-width: 56.5em) {
  .liveCrypto-section {
    margin: 5rem auto;
    width: 90%;
  }
}

.crypto-card {
  border-radius: 1.2rem;
  padding: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all 0.35s ease-in;
  border: 1px solid lavender;
}
.crypto-card-text .crytpo-currency {
  background-color: #24282f;
}
.crypto-card-text .crypto-rate {
  font-size: 2.4rem;
}
.crypto-card-icon-box {
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}
.crypto-card-icon-box-icon {
  text-align: center;
}
.crypto-card-icon-box-icon .la-btc {
  color: #ecc353;
  font-size: 2.8rem;
}
.crypto-card-icon-box-icon .la-ethereum {
  color: #53eca5;
  font-size: 2.8rem;
}
.crypto-card:hover {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-card {
  padding: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 56.5em) {
  .about-card {
    margin: 2rem 0;
  }
}
.about-card .la {
  color: #3378EA;
  font-weight: bold;
  font-size: 6rem;
  transition: all 0.3s ease-in;
}
.about-card .la:hover {
  color: #1FBA8F;
  transform: rotate(15deg);
}

.top-container {
  position: relative;
  background-color: var(--deepblue);
  height: 8rem;
  display: block;
}

.covid {
  padding: 6rem 4rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  color: #f7f7f7;
  border-bottom: 8px solid var(--border-color);
}
.covid h2, .covid p {
  color: #f7f7f7 !important;
}
.covid a {
  color: #eaca5b !important;
}

.black-box {
  padding: 3rem;
  width: 100%;
  text-align: center;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(50px);
  color: #f7f7f7;
  border-bottom: 8px solid var(--border-color);
}
.black-box h2, .black-box p {
  color: #f7f7f7 !important;
}

.text {
  color: #fcab65;
  margin-bottom: 1rem;
}

.process-section {
  background-color: #dbeae5;
  padding: 6rem 0;
}

.growth-section {
  padding: 6rem 0;
  background-color: #cbecf1;
}
.growth-section img {
  height: 50rem;
}
@media screen and (max-width: 37.5em) {
  .growth-section img {
    height: 100%;
    width: 100%;
  }
}

.faq-section {
  background-color: #dbeae5;
  padding: 2rem 0;
}

.getting-section {
  background-color: #f3f3fc;
  padding: 3rem 0;
}

.offer_header {
  background-color: #f3f3fc;
  padding: 3rem 0;
}

.invest-section h4, .invest-section h2, .invest-section p {
  color: #f7f7f7;
}

#menu {
  display: none;
}

.menu {
  background-color: #f7f7f7;
  justify-self: start;
  display: none;
  position: relative;
  cursor: pointer;
}
.menu-bar, .menu-bar:before, .menu-bar:after {
  width: 2.4rem;
  height: 0.2rem;
  background-color: #2b3441;
  position: absolute;
  left: 0;
}
.menu-bar:before, .menu-bar:after {
  content: " ";
}
.menu-bar:before {
  top: -0.8rem;
}
.menu-bar:after {
  top: 0.8rem;
}
@media screen and (max-width: 56.5em) {
  .menu {
    display: inline-block;
  }
}

@media screen and (max-width: 56.5em) {
  #menu:checked ~ .sideBar-list {
    display: none;
  }
}

.dashboard {
  display: flex;
  background-color: rgba(16, 18, 27, 0.6);
  backdrop-filter: blur(50px);
  opacity: 1;
}
@media screen and (max-width: 56.5em) {
  .dashboard {
    flex-direction: column;
  }
}
.dashboard .sideBar {
  flex: 0.09;
  display: flex;
  white-space: nowrap;
  background-color: rgba(16, 18, 27, 0.4);
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  min-height: 100vh;
}
.dashboard .sideBar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-list {
    border-radius: 0.8rem;
    position: absolute;
    flex: 1;
    z-index: 6;
    width: 50%;
    top: 6rem;
    right: -2rem;
    height: auto;
    border: 1px solid #2b3441;
    background-color: rgba(16, 18, 27, 0.99);
  }
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar {
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    flex: 1;
    border: none;
  }
}
.dashboard .sideBar-Top {
  flex: 0.6;
  padding: 1.5rem;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-Top {
    flex: 1;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.dashboard .sideBar figure {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f09cd;
  padding: 1rem 0;
  border-bottom: 1px solid #2b3441;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar figure {
    border: none;
    padding: 1rem;
    justify-content: flex-start;
  }
}
.dashboard .sideBar-item {
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  margin: 1rem 0;
  text-align: left;
  position: relative;
  display: flex;
}
.dashboard .sideBar-item:hover .sideBar-item-link {
  color: white;
  animation: shrink cubic-bezier(1, 0, 0, 1) 0.45s 0.1s;
}
.dashboard .sideBar-item .sideBar-item-link-overlay {
  font-size: 1.45rem;
  font-weight: bold;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-item {
    margin: 1rem 0;
    padding: 1.4rem;
  }
}
.dashboard .sideBar-item-link {
  display: flex;
  align-items: center;
  color: var(--inactive);
  transition: background-color 0.3s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
}
.dashboard .sideBar-item-link:active {
  text-decoration: underline;
}
.dashboard .sideBar-item-link .las, .dashboard .sideBar-item-link .la {
  font-size: 2.4rem;
  margin-left: 1rem;
}
.dashboard .main-section {
  flex: 1;
  min-height: 100vh;
}
.dashboard .main-section .dash-nav {
  width: 100%;
  display: flex;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(20px);
  justify-content: flex-end;
  padding: 2rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .main-section .dash-nav .h6 {
  color: #f7f7f7;
}
.dashboard .main-section .dash-nav a {
  font-size: 1.8rem;
  margin: 0 1rem;
}
.dashboard .main-section .dash-nav a .la {
  font-size: 3rem;
  color: #2b2b41;
}
.dashboard .main-section .dash-nav a .las {
  font-size: 2.8rem;
  color: #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .dashboard .main-section .dash-nav {
    padding: 1.5rem;
    border-top: 1px solid var(--border-color);
  }
}
.dashboard .main-section .dash-body {
  margin-top: 4rem;
  opacity: 0.8;
  width: 100%;
  padding: 1.5rem 3.5rem;
}
@media screen and (max-width: 56.5em) {
  .dashboard .main-section .dash-body {
    padding: 2rem 1.5rem;
  }
}
.dashboard .main-section .dash-body .stats_icon-box {
  background-color: #dbeae5;
  border-radius: 1.2rem;
  padding: 1.5rem;
  margin-right: 1rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .main-section .dash-body .stats_icon-box .la {
  font-size: 3.6rem;
  color: #2b3441;
}

.stats_icon {
  font-size: 2rem;
}

.logout-link {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 56.5em) {
  .logout-link {
    padding: 1.2rem;
    align-self: flex-end;
  }
}
.logout-link p {
  color: #2b2b41;
}
.logout-link p:hover {
  color: #ecc353;
}
.logout-link span {
  font-size: 1.8rem;
  font-weight: bold;
}
.logout-link i {
  font-size: 3.2rem;
  margin-left: 1rem;
  color: #2b2b41;
}
.logout-link:hover i {
  color: #eaca5b;
}

@keyframes shrink {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.wallet-card {
  display: flex;
  justify-content: space-between;
}
.wallet-card .la {
  font-size: 6rem;
  color: #5cd993;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 1.2rem;
}
.wallet-card .la-exchange-alt {
  color: #EA3970;
}

.table_newContainer {
  backdrop-filter: blur(25px);
  width: 100%;
}
@media screen and (max-width: 56.5em) {
  .table_newContainer {
    overflow-x: auto;
    border-radius: 1rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .table_newContainer::-webkit-scrollbar {
    display: none;
  }
}

.chat_page-section {
  display: flex;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  min-height: 80vh;
}
.chat_page-section-list {
  border-right: 1px solid #f7f7f7;
  flex: 0.18;
}
.chat_page-section-list .chat_list {
  border-top: 1px solid #f7f7f7;
  list-style: none;
  margin-top: 1rem;
}
.chat_page-section-list .chat_list-item {
  padding: 2rem 1.5rem;
  flex: 1;
  background-color: white;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
@media screen and (max-width: 56.5em) {
  .chat_page-section-list .chat_list-item {
    flex-direction: column;
  }
}
.chat_page-section-list .chat_list-item:hover {
  background-color: #dbeae5;
}
.chat_page-section-list .chat_list-item-img {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.chat_page-section-list .chat_list-item-img-icon {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #ecc353;
  border-radius: 200rem;
}
.chat_page-section-list .chat_list-item-info {
  flex: 0.8;
  position: relative;
}
.chat_page-section-list .chat_list-item-info-notify {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: #3f09cd;
  text-align: center;
  font-size: 1.45rem;
  color: #dbeae5;
}
.chat_page-section-chat-section {
  background-color: #ffffff;
  flex: 0.8;
  min-height: 70vh;
  max-height: 100vh;
  border-radius: 1rem;
  margin-left: 1rem;
  /* Firefox */
  display: flex;
  flex-direction: column;
}
.chat_page-section-chat-section-body {
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.chat_page-section-chat-section-body::-webkit-scrollbar {
  display: none;
}
.chat_page-section-chat-section-body .support-chat-head {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 1rem 1rem 0 0;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
}
.chat_page-section-chat-section-body .support-chat-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.5rem;
}
@media screen and (max-width: 37.5em) {
  .chat_page-section-chat-section-body .support-chat-body {
    flex: 1;
    justify-content: space-between;
  }
}
.chat_page-section-chat-section-body .support-chat-body-client {
  position: relative;
  background-color: #e5b4e5;
  padding: 1rem;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_page-section-chat-section-body .support-chat-body-support {
  position: relative;
  left: 0;
  align-self: flex-start;
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_page-section-chat-section .support_area-msgBox {
  border-top: 1px solid #f7f7f7;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form {
  padding: 1rem 1.5rem;
  background-color: white;
  display: flex;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form input {
  border: none;
  flex: 1;
  padding: 1.5rem 1.8rem;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form input:focus {
  outline: none;
}

.admin_plan_data {
  background-color: #dbeae5;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.centre-imgText {
  background-image: url("../../images/pexels-enes-ersahin-6988826.jpg");
  position: relative;
  background-size: cover;
  height: 50vh;
  padding: 2rem;
  filter: grayscale(25px);
}

.profile-img {
  width: 20rem;
  height: 20rem;
  border-radius: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-data {
  list-style: none;
}
.profile-data li {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.35s ease-out;
}
.profile-data li:hover {
  background-color: #dbeae5;
}

.tickets {
  margin: 1.5rem 0;
}
.tickets .ticket {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.searchBox {
  padding: 1rem 0;
  width: 50%;
  position: relative;
  border-radius: 1rem;
  background-color: #ffffff;
}
@media screen and (max-width: 56.5em) {
  .searchBox {
    width: 100%;
  }
}
.searchBox .search_input {
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  background-color: inherit;
  border: none;
  width: 100%;
}
.searchBox .search_input:active, .searchBox .search_input:focus {
  outline: none;
}
.searchBox .search_input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #73739f;
  font-weight: bold;
}
.searchBox .search_input-icon {
  border: none;
  background-color: inherit;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translateY(50%);
}

ol li {
  margin: 1.6rem 0;
  font-size: 2.4rem;
}

.ordered-list li {
  margin: 1.6rem;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.grey-box {
  padding: 2rem;
  width: 70%;
  text-align: center;
  background-color: #dbeae5;
  border-top: 4px solid #6335e3;
}
@media screen and (max-width: 56.5em) {
  .grey-box {
    width: 100%;
  }
}
.grey-box li {
  text-align: left;
}

.Auth-box {
  display: flex;
}
.Auth-box-side {
  padding: 2rem;
  background-size: cover;
  background-position: center;
  flex: 0.4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 56.5em) {
  .Auth-box-side {
    flex: 0.2;
  }
}
.Auth-box-side-link {
  font-size: 1.4rem;
  color: #f3f3fc;
}
.Auth-box-side-link a {
  text-decoration: none;
  color: #73739f;
}
.Auth-box-main {
  padding: 4rem;
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 56.5em) {
  .Auth-box-main {
    width: 100%;
    flex: 0.8;
  }
}

.auth-form {
  width: 50%;
  margin-top: 6rem;
}
@media screen and (max-width: 75em) {
  .auth-form {
    width: 80%;
  }
}
@media screen and (max-width: 56.5em) {
  .auth-form {
    width: 100%;
  }
}

.form-input-box {
  padding: 1rem 0;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(16, 18, 27, 0.4);
}
.form-input-box:not(:first-child) {
  margin: 2rem 0;
}
.form-input-box .form-input {
  border: none;
  padding: 1rem 1.6rem;
  background-color: inherit;
  width: 100%;
}
.form-input-box .form-input::-webkit-input-placeholder {
  color: #f7f7f7;
}
.form-input-box .form-input:active, .form-input-box .form-input:focus {
  outline: none;
}
.form-input-box .form-input-select {
  border: none;
  padding: 1rem 1.6rem;
  background-color: inherit;
  color: white;
  width: 100%;
}
.form-input-box .form-input-select option {
  color: white;
}
.form-input-box .form-input-select option:focus {
  outline: none;
}
.form-input-box .form-textarea {
  width: 100%;
  background-color: inherit;
  padding: 0.2rem;
  resize: none;
  height: 8rem;
  border: none;
}

/*# sourceMappingURL=krypto.css.map */
