.grey {
  color: #262626 !important;
}

.grey_color {
  color: #f7f7f7 !important;
}

.light {
  font-weight: normal;
}

.red {
  color: #ef3945 !important;
}

.yellow {
  color: #ecc353 !important;
}

.success {
  color: mediumseagreen !important;
}

.blue {
  color: deepskyblue !important;
}

.pending {
  color: coral !important;
}

.dark {
  color: #2b2b41 !important;
}

.bg-success {
  background-color: #d5ffe8 !important;
}

.bg-yell {
  background-color: #fffbce !important;
}

.display_flex {
  display: flex;
}

.H20 {
  height: 20rem;
}

.h1 {
  font-size: 7.2rem;
  color: #2b2b41;
}

.h2 {
  font-size: 4.8rem;
  color: #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .h2 {
    font-size: 3.6rem;
  }
}

.h3 {
  font-size: 3.6rem;
  color: #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .h3 {
    font-size: 2.8rem;
  }
}

.h4 {
  font-size: 2.4rem;
  color: #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .h4 {
    font-size: 1.8rem;
  }
}

.h5 {
  font-size: 1.8rem;
  color: #2b2b41;
}

.h6 {
  font-size: 1.6rem;
  color: #2b2b41;
}

.h7 {
  font-size: 1.2rem;
  color: #2b2b41;
}

.iconBTC {
  font-size: 30rem;
}

.icon64 {
  font-size: 6.4rem;
}

.icon48 {
  font-size: 4.8rem;
}

.icon24 {
  font-size: 2.4rem;
}

.icon36 {
  font-size: 3.6rem;
}

.icon16 {
  font-size: 1.6rem;
}

.link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #6335e3;
  text-decoration: none;
}

.greyText {
  color: #73739f !important;
}

.centerText {
  text-align: center;
}

.white {
  color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Raleway, sans-serif;
}

html {
  font-size: 50%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 56.5em) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

option {
  background-color: #f7f7f7;
  border: none;
}

select {
  border: none;
}

.mgT1 {
  margin-top: 1rem;
}
.mgT2 {
  margin-top: 2rem;
}
.mgT3 {
  margin-top: 3rem;
}
@media screen and (max-width: 56.5em) {
  .mgT3 {
    margin-top: 2rem;
  }
}

.mgT4 {
  margin-top: 4rem;
}
@media screen and (max-width: 56.5em) {
  .mgT4 {
    margin-top: 3rem;
  }
}

.mgV6 {
  margin: 8rem 0;
}

.mgV2 {
  margin: 2rem 0;
}
.mgV4 {
  margin: 4rem 0;
}
@media screen and (max-width: 56.5em) {
  .mgV4 {
    margin: 3rem;
  }
}

.mgL2 {
  margin-left: 2rem;
}

.pdMax {
  padding: 6rem;
}
@media screen and (max-width: 56.5em) {
  .pdMax {
    padding: 3rem;
  }
}

.pdV2 {
  padding: 0 2rem;
}
.pd2 {
  padding: 2rem;
}
.pd4 {
  padding: 4rem;
}
@media screen and (max-width: 56.5em) {
  .pd4 {
    padding: 2rem;
  }
}

.width50 {
  width: 50%;
}
@media screen and (max-width: 56.5em) {
  .width50 {
    width: 100%;
  }
}

.display_flex {
  justify-content: space-between;
  display: flex;
}

.profile-centre {
  justify-content: center;
  display: flex;
  align-items: center;
}

.centre-imgText {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/topbg.jpg");
  background-size: contain;
  height: 30rem;
  width: 100%;
}

.center_home {
  margin: 10rem auto;
}

.wallet-just {
  justify-content: normal !important;
}

.flowImg {
  width: 100%;
}

.flowImgP {
  margin: 0 auto;
  width: 100%;
}

.flex-dir-c {
  flex-direction: column !important;
}

.msg_btn {
  position: fixed;
  bottom: 5%;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 200rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6335e3;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.msg_btn .la {
  color: #eeeeee;
  font-size: 3.2rem;
}

.btn, .btn:link {
  text-decoration: none;
  padding: 1.6rem 3.6rem;
  border-radius: 100rem;
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  transition: all 0.4s cubic-bezier(1, 0.2, 0.54, 0);
}
.btn-plan {
  padding: 2.4rem 3.6rem !important;
  display: block;
  width: 60%;
  font-weight: bold;
  box-shadow: 0 4px 24px rgba(153, 56, 250, 0.7);
  background-image: linear-gradient(#4233ff, #9938fa);
  color: #f7f7f7;
}
.btn-plan:hover {
  box-shadow: 0 4px 24px rgba(153, 56, 250, 0.7);
  background-image: linear-gradient(-45deg, #4233ff, #c637fa);
}
.btn-success {
  background-color: #73739f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  color: white;
}
.btn-success .la {
  font-size: 2.4rem;
  margin-left: 1rem;
}
.btn-success:hover {
  background-color: #7676ac;
}
.btn-primary {
  background-color: #6335e3;
  transition: background-color 0.3s ease-in;
  color: #f3f3fc !important;
}
.btn-primary .la {
  font-size: 2.4rem;
}
.btn-primary:hover {
  background-color: #4118b5;
}
.btn-purple {
  background-color: #6335e3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  color: #f3f3fc;
}
.btn-purple .la {
  font-size: 2.4rem;
}
.btn-purple:hover {
  background-color: #4118b5;
}
.btn-red {
  background-color: #ef3945;
  transition: background-color 0.3s ease-in;
  color: #f3f3fc;
}
.btn-red .la {
  font-size: 2.4rem;
}
.btn-red:hover {
  background-color: #d7204b;
}
.btn-green {
  background-color: mediumseagreen;
  transition: background-color 0.3s ease-in;
  color: #f3f3fc;
}
.btn-green .la {
  font-size: 2.4rem;
}
.btn-green:hover {
  background-color: #5cd993;
}

.chat_btn {
  text-decoration: none;
  border-radius: 100rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #3f09cd;
  display: inline-flex;
}
.chat_btn .la {
  font-size: 1.8rem;
  color: #f3f3fc;
}

.btn_reg, .btn_reg:link {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 100rem;
  text-align: center;
  display: inline-block;
  font-size: 2.4rem;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(#5117ee, #6335e3);
  color: #f7f7f7;
  transition: all 0.35s ease-out;
}
.btn_reg:hover {
  background-image: linear-gradient(45deg, #5117ee, #6335e3);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-bordered, .btn-bordered:link {
  text-decoration: none;
  padding: 1.5rem 3.6rem;
  border-radius: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  border: 1px solid currentColor;
  transition: all 0.35s ease-in;
}
.btn-bordered-primary {
  color: #6335e3;
}
.btn-bordered-primary:hover {
  color: #f7f7f7 !important;
  background-color: #4118b5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
  transition: all 0.35s;
}
.transaction-table:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}
.transaction-table thead {
  border-bottom: 1px solid #f3f3fc;
}
.transaction-table thead th {
  padding: 1.5rem 1.8rem;
  background-color: white;
  color: #262626;
  text-transform: uppercase;
  border-bottom: 1px solid #f3f3fc;
}
.transaction-table tbody {
  background-color: white;
}
.transaction-table tbody tr:hover {
  background-color: #f7f7f7;
}
.transaction-table tbody td {
  padding: 1.8rem 2rem;
}

.transaction-table-cont {
  width: 100%;
  transition: all 0.35s;
}
@media screen and (max-width: 56.5em) {
  .transaction-table-cont {
    overflow-x: auto;
    border-radius: 1rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .transaction-table-cont::-webkit-scrollbar {
    display: none;
  }
}

.crypto-icons {
  width: 3rem;
}

.card {
  padding: 1.8rem;
  border-radius: 1.2rem;
  transition: box-shadow 0.35s ease-out;
  background-color: white;
}
.card:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}

.card_w {
  padding: 2.5rem;
  border-radius: 1.2rem;
  margin-top: 4rem;
  background-color: white;
  width: 30%;
}
@media screen and (max-width: 75em) {
  .card_w {
    width: 70%;
  }
}
@media screen and (max-width: 56.5em) {
  .card_w {
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 56.5em) {
  .grid {
    flex-direction: column;
    align-items: center;
  }
}
.grid-item-f {
  flex: 1;
}
.grid-item1_4 {
  flex: 0.25;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item1_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item1_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item2_4 {
  flex: 0.5;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item2_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item2_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item3_4 {
  flex: 0.75;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item3_4 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item3_4 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item1_3 {
  flex: 0.33;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item1_3 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item1_3 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}
.grid-item2_3 {
  flex: 0.62;
  margin: 1rem;
}
@media screen and (max-width: 75em) {
  .grid-item2_3 {
    flex: 0.5;
    width: 100%;
  }
}
@media screen and (max-width: 56.5em) {
  .grid-item2_3 {
    flex: 1;
    width: 100%;
    margin: 1rem 0;
  }
}

.success-card {
  padding: 2.5rem;
  border-radius: 1.2rem;
  background-color: #bdf6bd;
}

.info-card {
  padding: 2.5rem;
  border-radius: 1.2rem;
  background-color: #f3f3fc;
}

.plan-btn {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 80;
}

.plan-card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 2.5rem;
  transition: all 0.35s;
  border: 1px solid lavender;
  position: relative;
  min-width: 30rem;
  margin: 2rem 4rem;
}
@media screen and (max-width: 56.5em) {
  .plan-card {
    margin: 1rem auto;
  }
}
.plan-card .overlayText {
  position: absolute;
  top: -1rem;
  left: -1rem;
  padding: 1.5rem;
  border-radius: 0 1rem 1rem 1rem;
  font-size: 1.8rem;
  color: #f7f7f7;
  background-image: linear-gradient(#4233ff, #5a35f3);
}
.plan-card .plan-card-h {
  background-image: linear-gradient(#4233ff, #c637fa);
  color: transparent;
  -webkit-background-clip: text;
}
.plan-card .plan-details {
  padding: 1rem;
  border-radius: 1.2rem;
}
.plan-card .plan-details ul {
  list-style: none;
  padding: 1rem 0;
  border-top: 1px solid lavender;
}
.plan-card .plan-details ul li {
  padding: 1rem 0;
  font-size: 2.4rem;
}
.plan-card:hover {
  transform: translateY(-0.5rem) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.error-msg {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #EABAC5;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: all 0.35s;
  z-index: 250;
}
.error-msg h1, .error-msg h2, .error-msg h3, .error-msg h4, .error-msg h5, .error-msg h6, .error-msg p, .error-msg a {
  color: #ef3945;
}

.success-msg {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #a9eacb;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: all 0.35s;
  z-index: 250;
}
.success-msg h1, .success-msg h2, .success-msg h3, .success-msg h4, .success-msg h5, .success-msg h6, .success-msg p, .success-msg a {
  color: mediumseagreen;
}

.info-msg {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #b0efa0;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.35s;
}
.info-msg h1, .info-msg h2, .info-msg h3, .info-msg h4, .info-msg h5, .info-msg h6, .info-msg p, .info-msg a {
  color: #336727;
}

.fade {
  animation: fade 5s ease;
  transition: all 5s ease;
}

.minimize {
  animation: minimize 0.5s ease;
}

.chat_area {
  position: fixed;
  bottom: 10%;
  right: 12rem;
  z-index: 200;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 50rem;
  display: none;
  flex-direction: column;
  border-radius: 1.5rem 1.5rem 0 1.5rem;
}
@media screen and (max-width: 75em) {
  .chat_area {
    width: 50%;
    right: 1rem;
  }
}
@media screen and (max-width: 56.5em) {
  .chat_area {
    width: 60%;
    right: 1rem;
  }
}
@media screen and (max-width: 37.5em) {
  .chat_area {
    width: 100%;
    right: 0;
    height: 100%;
    bottom: 0;
  }
}
.chat_area-top {
  background-color: #6335e3;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
@media screen and (max-width: 37.5em) {
  .chat_area-top {
    border-radius: 0;
  }
}
.chat_area-top h2, .chat_area-top p {
  color: #eeeeee !important;
}
.chat_area-top .la {
  color: #f3f3fc;
  cursor: pointer;
}
.chat_area-body {
  border: 1px solid #f3f3fc;
  padding: 1.5rem;
  height: 10rem;
  background-color: #f5f5fa;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.chat_area-body::-webkit-scrollbar {
  display: none;
}
.chat_area-body .chat_msg-client {
  position: relative;
  left: 0;
  background-color: #f6e97a;
  padding: 1rem;
  border-radius: 2rem 2rem 2rem 0;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_area-body .chat_msg-support {
  position: relative;
  right: 0;
  background-color: #d77dfc;
  padding: 1rem;
  border-radius: 2rem 0 2rem 2rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
  align-self: flex-end;
}
.chat_area .chat-form input {
  border: none;
  padding: 1.8rem;
  width: 85%;
  border-radius: 0 0 1.5rem 1.5rem;
}
.chat_area .chat-form input:active, .chat_area .chat-form input:focus {
  outline: none;
}

@keyframes minimize {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.home-nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  transition: all 0.35s ease-in;
}
.home-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}
@media screen and (max-width: 56.5em) {
  .home-nav-list {
    flex: 1;
    width: 50%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
    position: absolute;
    z-index: 6;
    top: 8rem;
    right: -1rem;
    height: 60vh;
    border: 1px solid lavender;
    background-color: white;
  }
}
.home-nav-list-item {
  cursor: pointer;
}
.home-nav-list-item-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f7f7f7;
}
.home-nav-list-item-link:hover {
  color: #9e69f5;
}
@media screen and (max-width: 56.5em) {
  .home-nav-list-item-link:hover {
    font-weight: bold;
    font-size: 1.8rem;
  }
}

#menu_home {
  display: none;
}

.menu_home {
  background-color: #ffffff;
  justify-self: flex-end;
  display: none;
  position: relative;
  cursor: pointer;
  padding: 2.3rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}
.menu_home-bar, .menu_home-bar:before, .menu_home-bar:after {
  width: 2.4rem;
  height: 0.3rem;
  background-color: #3f09cd;
  position: absolute;
  border-radius: 3rem;
  transition: all 0.35s;
  left: 0.5rem;
}
.menu_home-bar:before, .menu_home-bar:after {
  content: " ";
}
.menu_home-bar:before {
  top: -0.6rem;
}
.menu_home-bar:after {
  top: 0.6rem;
}
@media screen and (max-width: 56.5em) {
  .menu_home {
    display: inline-block;
  }
}

@media screen and (max-width: 56.5em) {
  #menu_home:checked ~ .home-nav-list {
    display: none;
  }
}

#menu_home ~ .menu_home > .menu_home-bar:before {
  transform: rotate(45deg) translate(0.75rem, 1.25rem);
}

#menu_home ~ .menu_home > .menu_home-bar {
  background-color: transparent;
}

#menu_home ~ .menu_home > .menu_home-bar:after {
  transform: rotate(-45deg) translate(0.75rem, -1.25rem);
}

#menu_home:checked ~ .menu_home > .menu_home-bar:before {
  transform: rotate(0deg);
}

#menu_home:checked ~ .menu_home > .menu_home-bar:after {
  transform: rotate(0deg);
}

.header {
  position: relative;
  background-image: url("../../images/topbg.jpg");
  height: 70vh;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 37.5em) {
  .header {
    height: 75vh;
  }
}
.header h1 {
  color: #f6f4eb;
}
.header p {
  color: #f7f7f7;
}
.header p a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 37.5em) {
  .header p a {
    font-size: 1rem;
  }
}
.header-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home_layout {
  width: 80%;
  margin: 10rem auto;
}
@media screen and (max-width: 56.5em) {
  .home_layout {
    margin: 5rem auto;
    width: 90%;
  }
}

.liveCrypto-section {
  width: 80%;
  margin: 10rem auto;
}
@media screen and (max-width: 56.5em) {
  .liveCrypto-section {
    margin: 5rem auto;
    width: 90%;
  }
}

.crypto-card {
  border-radius: 1.2rem;
  padding: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all 0.35s ease-in;
  border: 1px solid lavender;
}
.crypto-card-text .crytpo-currency {
  background-color: #262626;
}
.crypto-card-text .crypto-rate {
  font-size: 2.4rem;
}
.crypto-card-icon-box {
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}
.crypto-card-icon-box-icon {
  text-align: center;
}
.crypto-card-icon-box-icon .la-btc {
  color: #ecc353;
  font-size: 2.8rem;
}
.crypto-card-icon-box-icon .la-ethereum {
  color: #53eca5;
  font-size: 2.8rem;
}
.crypto-card:hover {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.plan-section {
  padding: 2rem;
}

footer {
  padding: 2rem 0;
  background-color: #424267;
  border-top: 4px solid #6335e3;
}
footer .footer_cont {
  margin: 10rem auto 0 auto;
  width: 70%;
}
@media screen and (max-width: 56.5em) {
  footer .footer_cont {
    margin: 5rem auto 0 auto;
    width: 90%;
  }
}
footer p, footer h4 {
  color: #f7f7f7 !important;
}
footer ol li {
  font-size: 1.8rem;
  color: #73739f;
  margin: 1.6rem 0;
}
footer .footer-links {
  width: 70%;
  padding: 2rem 0;
}
footer .footer-links ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 56.5em) {
  footer .footer-links ul {
    flex-direction: column;
  }
}
footer .footer-links ul li {
  font-weight: bold;
}
@media screen and (max-width: 56.5em) {
  footer .footer-links ul li {
    margin: 2rem 0;
  }
}
footer .footer-links ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.35s;
  color: #f7f7f7;
}
footer .footer-links ul li a:hover {
  color: #73739f;
}

.about-card {
  padding: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 56.5em) {
  .about-card {
    margin: 2rem 0;
  }
}
.about-card .la {
  color: #6335e3;
  font-weight: bold;
  font-size: 6rem;
  transition: all 0.3s ease-in;
}
.about-card .la:hover {
  color: #f3c30b;
  transform: rotate(15deg);
}

.top-container {
  position: relative;
  background-color: #2b2b41;
  height: 8rem;
  display: block;
}

.covid {
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
  background-color: #2b2b41;
  color: #f7f7f7;
  border-bottom: 4px solid #6335e3;
  border-top: 4px solid #6335e3;
}
.covid h2, .covid p {
  color: #f7f7f7 !important;
}
.covid a {
  color: #7e5def !important;
}

.black-box {
  padding: 3rem;
  width: 100%;
  text-align: center;
  background-color: #2b2b41;
  color: #f7f7f7;
  border-bottom: 4px solid #6335e3;
}
.black-box h2, .black-box p {
  color: #f7f7f7 !important;
}

.process-section {
  background-color: #f3f3fc;
  padding: 6rem 0;
}

.growth-section {
  padding: 6rem 0;
  background-color: #f7f7f7;
}
.growth-section img {
  height: 50rem;
}
@media screen and (max-width: 37.5em) {
  .growth-section img {
    height: 100%;
    width: 100%;
  }
}

.faq-section {
  background-color: #f3f3fc;
  padding: 2rem 0;
}

.getting-section {
  background-color: #f3f3fc;
  padding: 3rem 0;
}

.offer_header {
  background-color: #f3f3fc;
  padding: 3rem 0;
}

#menu {
  display: none;
}

.menu {
  background-color: #f7f7f7;
  justify-self: start;
  display: none;
  position: relative;
  cursor: pointer;
}
.menu-bar, .menu-bar:before, .menu-bar:after {
  width: 2.4rem;
  height: 0.2rem;
  background-color: #6335e3;
  position: absolute;
  left: 0;
}
.menu-bar:before, .menu-bar:after {
  content: " ";
}
.menu-bar:before {
  top: -0.8rem;
}
.menu-bar:after {
  top: 0.8rem;
}
@media screen and (max-width: 56.5em) {
  .menu {
    display: inline-block;
  }
}

@media screen and (max-width: 56.5em) {
  #menu:checked ~ .sideBar-list {
    display: none;
  }
}

.dashboard {
  display: flex;
}
@media screen and (max-width: 56.5em) {
  .dashboard {
    flex-direction: column;
  }
}
.dashboard .sideBar {
  flex: 0.09;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1px solid #f3f3fc;
  background-color: #2b2b41;
}
.dashboard .sideBar-list {
  flex: 0.6;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-list {
    border-radius: 0.8rem;
    position: absolute;
    z-index: 6;
    width: 25%;
    top: 6rem;
    right: -1rem;
    border: 1px solid lavender;
    background-color: white;
  }
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar {
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    flex: 1;
    border: none;
  }
}
.dashboard .sideBar figure {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f09cd;
  padding: 2rem 0;
  border-bottom: 1px solid #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar figure {
    border: none;
    padding: 1rem;
    justify-content: flex-start;
  }
}
.dashboard .sideBar-Top {
  flex: 0.6;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-Top {
    flex: 1;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.dashboard .sideBar-item {
  border-radius: 0.8rem;
  margin: 1rem 0;
  width: 100%;
}
.dashboard .sideBar-item:hover {
  background-color: #222237;
  transition: background-color 0.3s;
}
.dashboard .sideBar-item:hover .sideBar-item-link {
  color: #6335e3 !important;
  border-left: 4px solid #6335e3;
  animation: shrink cubic-bezier(1, 0, 0, 1) 0.45s 0.1s;
}
@media screen and (max-width: 56.5em) {
  .dashboard .sideBar-item {
    margin: 0;
  }
}
.dashboard .sideBar-item-link {
  display: flex;
  align-items: center;
  color: #73739f;
  transition: background-color 0.3s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem 1.8rem;
}
.dashboard .sideBar-item-link:active {
  text-decoration: underline;
}
.dashboard .sideBar-item-link span {
  font-size: 1.8rem;
  font-weight: bold;
}
.dashboard .sideBar-item-link i {
  font-size: 3.2rem;
  margin-right: 1rem;
}
.dashboard .main-section {
  background-color: #f3f3fc;
  flex: 1;
  min-height: 100vh;
}
.dashboard .main-section .dash-nav {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: flex-end;
  padding: 2rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .main-section .dash-nav a {
  font-size: 1.8rem;
  margin: 0 1rem;
}
.dashboard .main-section .dash-nav a .la {
  font-size: 3rem;
  color: #2b2b41;
}
.dashboard .main-section .dash-nav a .las {
  font-size: 2.8rem;
  color: #2b2b41;
}
@media screen and (max-width: 56.5em) {
  .dashboard .main-section .dash-nav {
    padding: 1.5rem;
    border-top: 1px solid lavender;
  }
}
.dashboard .main-section .dash-body {
  margin-top: 4rem;
  padding: 1.5rem 3.5rem;
}
@media screen and (max-width: 56.5em) {
  .dashboard .main-section .dash-body {
    padding: 2rem 1.5rem;
  }
}
.dashboard .main-section .dash-body .stats_icon-box {
  background-color: #f3f3fc;
  border-radius: 1.2rem;
  padding: 1.5rem;
  margin-right: 1rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .main-section .dash-body .stats_icon-box .la {
  font-size: 3.6rem;
  color: #2b2b41;
}

.stats_icon {
  font-size: 2rem;
}

.logo {
  height: 2.4rem;
}

.logoout-link {
  display: flex;
  align-items: center;
  color: #6335e3;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
}
@media screen and (max-width: 56.5em) {
  .logoout-link {
    padding: 1.2rem;
    align-self: flex-end;
  }
}
.logoout-link span {
  font-size: 1.8rem;
  font-weight: bold;
}
.logoout-link i {
  font-size: 3.2rem;
  margin-left: 1rem;
}

@keyframes shrink {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.wallet-card {
  display: flex;
  justify-content: space-between;
}
.wallet-card .la {
  font-size: 6rem;
  color: #5cd993;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 1.2rem;
}
.wallet-card .la-exchange-alt {
  color: #EA3970;
}

.chat_page-section {
  display: flex;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  min-height: 80vh;
}
.chat_page-section-list {
  border-right: 1px solid #f7f7f7;
  flex: 0.18;
}
.chat_page-section-list .chat_list {
  border-top: 1px solid #f7f7f7;
  list-style: none;
  margin-top: 1rem;
}
.chat_page-section-list .chat_list-item {
  padding: 2rem 1.5rem;
  flex: 1;
  background-color: white;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
@media screen and (max-width: 56.5em) {
  .chat_page-section-list .chat_list-item {
    flex-direction: column;
  }
}
.chat_page-section-list .chat_list-item:hover {
  background-color: #f3f3fc;
}
.chat_page-section-list .chat_list-item-img {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.chat_page-section-list .chat_list-item-img-icon {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #ecc353;
  border-radius: 200rem;
}
.chat_page-section-list .chat_list-item-info {
  flex: 0.8;
  position: relative;
}
.chat_page-section-list .chat_list-item-info-notify {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: #3f09cd;
  text-align: center;
  font-size: 1.45rem;
  color: #f3f3fc;
}
.chat_page-section-chat-section {
  background-color: #ffffff;
  flex: 0.8;
  min-height: 70vh;
  max-height: 100vh;
  border-radius: 1rem;
  margin-left: 1rem;
  /* Firefox */
  display: flex;
  flex-direction: column;
}
.chat_page-section-chat-section-body {
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.chat_page-section-chat-section-body::-webkit-scrollbar {
  display: none;
}
.chat_page-section-chat-section-body .support-chat-head {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 1rem 1rem 0 0;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
}
.chat_page-section-chat-section-body .support-chat-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.5rem;
}
@media screen and (max-width: 37.5em) {
  .chat_page-section-chat-section-body .support-chat-body {
    flex: 1;
    justify-content: space-between;
  }
}
.chat_page-section-chat-section-body .support-chat-body-client {
  position: relative;
  background-color: #e5b4e5;
  padding: 1rem;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_page-section-chat-section-body .support-chat-body-support {
  position: relative;
  left: 0;
  align-self: flex-start;
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block;
}
.chat_page-section-chat-section .support_area-msgBox {
  border-top: 1px solid #f7f7f7;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form {
  padding: 1rem 1.5rem;
  background-color: white;
  display: flex;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form input {
  border: none;
  flex: 1;
  padding: 1.5rem 1.8rem;
}
.chat_page-section-chat-section .support_area-msgBox .chat-form input:focus {
  outline: none;
}

.admin_plan_data {
  background-color: #f3f3fc;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.aboutbg {
  background-color: #2b2b41;
  background-image: url("../../images/bg2.jpg");
  background-size: cover;
  text-align: center;
  vertical-align: center;
  height: 40rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBox {
  height: 40rem;
  background-color: #2b2b41;
}

.profile-img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 200rem;
}

.profile-data {
  list-style: none;
}
.profile-data li {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.profile-data li:not(:first-child) {
  margin-top: 2rem;
}

.searchBox {
  padding: 1rem 0;
  width: 50%;
  position: relative;
  border-radius: 1rem;
  background-color: #ffffff;
}
@media screen and (max-width: 56.5em) {
  .searchBox {
    width: 100%;
  }
}
.searchBox .search_input {
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  background-color: inherit;
  border: none;
  width: 100%;
}
.searchBox .search_input:active, .searchBox .search_input:focus {
  outline: none;
}
.searchBox .search_input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #73739f;
  font-weight: bold;
}
.searchBox .search_input-icon {
  border: none;
  background-color: inherit;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translateY(50%);
}

ol li {
  margin: 1.6rem 0;
  font-size: 2.4rem;
}

.ordered-list li {
  margin: 1.6rem;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.grey-box {
  padding: 2rem;
  width: 70%;
  text-align: center;
  background-color: #f3f3fc;
  border-top: 4px solid #6335e3;
}
@media screen and (max-width: 56.5em) {
  .grey-box {
    width: 100%;
  }
}
.grey-box li {
  text-align: left;
}

.form-textarea {
  width: 100%;
  background-color: inherit;
  height: 10rem;
  border: none;
  resize: none;
  padding: 1rem;
}
.form-textarea:focus {
  outline: none;
}

.tickets {
  padding: 2rem;
  background-color: white;
  width: 50%;
  margin: 2rem 0;
  border-radius: 1.5rem;
}
@media screen and (max-width: 56.5em) {
  .tickets {
    width: 100%;
  }
}
.tickets .ticket {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  transition: all 0.35s ease;
}
.tickets .ticket:hover {
  background-color: #f3f3fc;
}

.referrals {
  padding: 2rem 0;
  background-color: white;
  width: 100%;
  margin: 1rem 0;
  border-radius: 1.5rem;
}
@media screen and (max-width: 56.5em) {
  .referrals {
    width: 100%;
  }
}
.referrals .referral {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  transition: all 0.35s ease;
}
.referrals .referral:not(:first-child) {
  border-top: 1px solid #f3f3fc;
}
.referrals .referral:hover {
  background-color: #f3f3fc;
}

.Auth-box-main {
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 56.5em) {
  .Auth-box-main {
    width: 100%;
  }
}

.auth-form {
  width: 50%;
  margin-top: 3rem;
}
@media screen and (max-width: 75em) {
  .auth-form {
    width: 80%;
  }
}
@media screen and (max-width: 56.5em) {
  .auth-form {
    width: 100%;
  }
}

.form-input-box {
  padding: 1rem 0;
  width: 100%;
  border-radius: 1rem;
  background-color: #f7f7f7;
}
.form-input-box:not(:first-child) {
  margin: 2rem 0;
}
.form-input-box .form-input {
  border: none;
  padding: 1rem 1.6rem;
  background-color: inherit;
  width: 100%;
}
.form-input-box .form-input:active, .form-input-box .form-input:focus {
  outline: none;
}
.form-input-box .form-input-select {
  border: none;
  padding: 1rem 1.6rem;
  background-color: inherit;
  width: 100%;
}
.form-input-box .form-input-select option:focus {
  outline: none;
}

@media screen and (max-width: 56.5em) {
  .logo-auth {
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
}

/*# sourceMappingURL=krypto.css.map */
